.articles{
  &__grid{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 33px;
  }
  &__item{
    display: flex;
    padding: 13px 0;
  }
  &__photo{
    max-width: 370px;
    width: 100%;
    margin-right: 30px;
      img {
        width: 100%;
      }
  }
  &__info{
    //margin-left: 15px;
  }
  &__date-box{
    margin: 10px 0;
  }
  &__date{
    font-size: 12px;
    color: #fcfcfc;
    background-color: $orange;
    padding: 3px 10px;
    border-radius: 8px;
  }
  &__name{
    font-size: 13px;
    font-weight: bold;
    color: #4c4c4c;
    line-height: 140%;
    margin-bottom: 12px;
    letter-spacing: -0.1px;
  }
  &__text{
    margin-bottom: 7px;
    font-size: 13px;
    color: #4c4c4c;
    line-height: 130%;
  }
  &__more{
    text-decoration: none;
    color: $orange;
    font-size: 13px;
    &:hover{
      text-decoration: underline;
    }
  }

  &__showmore-row{
    text-align: center;
    margin-bottom: 60px;
  }
  &__showmore-link{
    padding: 8px 16px;
    border-radius: 14px;
    background-color: #f2f2f2;
    color: #262626;
    font-size: 12px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: $anim;
    &:hover{
      background-color: $orange;
      color: #fff;
    }
  }
}