body, p, td, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: Lato, sans-serif;
  color: #222;
}
body *{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.container {
  padding: 0 15px;
}
.in-mobile {
  display: inline;
  @media ($bp-larger-than-tablet) {
    display: none;
  }
}
.in-desktop {
  display: none;
  @media ($bp-larger-than-tablet) {
    display: inline;
  }
}
a{
  outline: none;
}
a:hover{
  //color: rgba(165, 9, 3, 0.8);
  color: $orange;
}
.bold {
  font-weight: $font-weight-black;
}

@media (max-width: 720px) {
  .phablet-container{
    width: 100%;
    padding: 0;
  }
}

body{
  background: #fafafa url('/assets/template/images/top-bg-320.jpg') center 0px no-repeat;
  background-size: 100% auto;
  @media ($bp-larger-than-phablet) {
    background-size: auto;
    background: #fafafa url('/assets/template/images/top-bg-inner.jpg') center 0px no-repeat;
    &.mainpage{
      background: #fafafa url('/assets/template/images/top-bg.jpg') center 0px no-repeat;
    }
  }
  @media ($bp-larger-than-desktop) {
    background-size: auto;
    background: #fafafa url('/assets/template/images/top-bg-inner.jpg') center 30px no-repeat;
    &.mainpage{
      background: #fafafa url('/assets/template/images/top-bg.jpg') center 30px no-repeat;
    }
  }
  &.printpage{
    background: #fff;
  }
}
.color-orange,
body .color-orange,
body .container .color-orange{ color: $orange}

.topline{
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  display: none;
  @media ($bp-larger-than-desktop) {
    display: block;
  }
  &__grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    li{
      margin-bottom: 0;
    }
    a{
      color: #404040;
      font-size: 12px;
      text-decoration: none;
      padding-left: 19px;
      padding-right: 19px;
      position: relative;
      transition: $anim;
      &:before{
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 1px solid #404040;
        position: absolute;
        left: 1px;
        top: 50%;
        transform: translateY(-50%);
        transition: $anim;
      }
      &:hover{
        &:before{
          background-color: $orange;
        }
      }
    }
    &.topline__right{
      margin-left: -19px;
      margin-right: -19px;
    }
  }
}

.header{
  padding: 10px 0 6px;
  @media ($bp-larger-than-tablet) {
    padding: 19px 0;
  }
  &__grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    width: 117px;
    @media ($bp-larger-than-tablet) {
      display: block;
      width: auto;
    }
    img{
      max-width: 100%;
      @media ($bp-larger-than-tablet) {
        max-width: none;
      }

    }
  }
  &__city{
    display: none;
    @media ($bp-larger-than-desktop) {
      display: block;
      margin-right: 20px;
    }
    a{
      font-size: 15px;
      text-decoration: none;
      color: #606060;
    }
  }
  &__email{
    display: none;
    @media ($bp-larger-than-desktop) {
      display: block;
    }
  }
  &__email-box{
    padding-left: 58px;
    position: relative;
  }
  &__email-icon{
    display: inline-block;
    content: "";
    position: absolute;
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    &:before{
      display: inline-block;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include sprite($header-email);
    }
  }
  &__email-link{
    color: #606060;
    font-size: 16px;
    a{
      color: #606060;
      font-size: 16px;
      text-decoration: none;
    }
  }
  &__email-lead{
    color: #808080;
    font-size: 12px;
  }
  &__phone{
    display: none;
    @media ($bp-larger-than-desktop) {
      display: block;
    }
  }
  &__phone-box{
    padding-left: 58px;
    position: relative;
  }
  &__phone-icon{
    display: inline-block;
    content: "";
    position: absolute;
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    &:before{
      display: inline-block;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include sprite($header-phone);
    }
  }
  &__phone-link{
    color: #606060;
    font-size: 18px;
    a{
      color: #606060;
      font-size: 18px;
      text-decoration: none;
    }
  }
  &__phone-lead{
    color: #808080;
    font-size: 12px;
  }
  &__burger{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: relative;
    background-color: rgba(66, 66, 66, 0.1);
    margin-right: 10px;
    margin-left: auto;
    @media($bp-larger-than-desktop) {
      display: none;
    }
    span{
      position: absolute;
      width: 10px;
      margin-top: 2px;
      margin-bottom: 2px;
      height: 2px;
      display: inline-block;
      background-color: #4d4d4d;
      top: 12px;
      left: 10px;
      &:before{
        position: absolute;
        content: "";
        display: inline-block;
        height: 2px;
        left: 0;
        right: 0;
        top: -4px;
        background-color: #4d4d4d;
      }
      &:after{
        position: absolute;
        content: "";
        display: inline-block;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -4px;
        background-color: #4d4d4d;
      }
    }
  }
}

.city-changer{
  z-index: 10;
  position: relative;
  &__current{
    display: block;
    font-size: 15px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    z-index: 12;
    &:after{
      display: inline-block;
      content: '';
      @include sprite($arrow-down);
      position: absolute;
      top: 9px;
      right: 3px;
    }
  }
  ul{
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: -14px;
    left: 0;
    padding: 44px 0 10px;
    z-index: 11;
    border-radius: 8px 8px 0 0;
    border: 1px solid transparent;
    display: none;
    li{
      padding: 0;
      margin: 0;
      a{
        font-size: 13px;
        color: #606060;
        display: block;
        padding: 7px 18px;
        min-width: 160px;
        &:hover{
          background-color: #f0f0f0;
        }
      }
    }
  }
  &:hover{
    ul{
      background-color: #fff;
      display: block;
      border: 1px solid #e6e6e6;
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    }
    .city-changer__current{
      &:after{
        @include sprite($arrow-up-orange);

      }
    }
  }
}


.navigation{

  &__box{
    background-image: -moz-linear-gradient( 90deg, rgb(242,117,0) 0%, rgb(255,125,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,117,0) 0%, rgb(255,125,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,117,0) 0%, rgb(255,125,0) 100%);
    padding: 2px 0;
    @media ($bp-larger-than-tablet) {
      padding: 5px 0;
    }
  }
  &__grid{
    background-image: -moz-linear-gradient( 90deg, rgb(255,125,0) 0%, rgb(242,117,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,125,0) 0%, rgb(242,117,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,125,0) 0%, rgb(242,117,0) 100%);
    min-height: 30px;
    padding: 3px 0;
    display: flex;
    position: relative;
    @media ($bp-larger-than-tablet) {
      min-height: 40px;
      padding: 4px 0;
    }
  }

}
@media (max-width: 450px) {
  .navigation{
    .container{
      width: 100%;
      padding: 0;
    }
  }
}

.menu-catalog{
  padding-left: 16px;
  max-width: 225px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  //position: relative;
  z-index: 200;
  @media ($bp-larger-than-tablet) {
    padding-left: 10px;
    margin-right: 20px;
    height: 32px;
  }
  &__header{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding-right: 20px;
    display: none;
    @media ($bp-larger-than-tablet) {
      display: block;
    }
    &:hover{
      color: #fff;
    }
    &:before{
      display: inline-block;
      content: "";
      @include sprite($catalog-menu-arrow);
      position: absolute;
      right: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &:hover{
    @media ($bp-larger-than-tablet) {
      .menu-catalog__submenu {
        display: block;
      }
    }
  }
  &.open{
    .menu-catalog{
      &__submenu{
        display: block;
      }
      &__first{
        overflow: hidden;
        margin-left: -7px;
      }
      &__item{
        white-space: normal;
      }
    }
  }
  &.open-first-level{
    .menu-catalog__first{
      overflow: hidden;
      width: 53px;
    }
  }
  &__submenu{
    position: absolute;
    z-index: 700;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    padding-top: 7px;
    margin-top: -5px;
    @media ($bp-larger-than-tablet) {
      padding-top: 10px;
    }
  }
  &__panel{
    background: #f2f2f2;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    @media ($bp-larger-than-tablet) {
      background: #f2f2f2 url('/assets/template/images/bg-submenu.png') right center no-repeat;
    }
  }
  &__first{
    @media ($bp-larger-than-tablet) {
     // border-right: 1px solid $orange;
    }
  }
  &__second{
    border-left: 1px solid $orange;
  }
  &__list{
    width: 400px;
    list-style-type: none;
    margin: 0;
    padding: 11px 0 13px;
    
    position: relative;
    li {
      margin: 0;
      padding: 0;
    }
    > li {
      &:hover{
        .menu-catalog__childs{
          display: block;
        }
      }
    }
  }
  &__link{
    display: block;
    text-decoration: none;
    padding: 7px 8px 7px 50px;
    font-size: 13px;
    color: #404040;
    position: relative;
    &:before{
      display: inline-block;
      content: '';
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
    &--video{
      &:before {
        @include sprite($category-video-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-video-small-white);
        }
      }
    }
    &--fire-equipment{
      &:before {
        @include sprite($category-fire-equipment-small);
        left: 15px;
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-fire-equipment-small-white);
        }
      }
    }
    &--warning{
      &:before {
        @include sprite($category-warning-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-warning-small-white);
        }
      }
    }
    &--firefighting{
      &:before {
        @include sprite($category-firefighting-small);
        left: 20px;
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-firefighting-small-white);
        }
      }
    }
    &--access{
      &:before {
        @include sprite($category-access-small);
        left: 20px;
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-access-small-white);
        }
      }
    }
    &--electrical{
      &:before {
        @include sprite($category-electrical-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-electrical-small-white);
        }
      }
    }
    &--explosionproof{
      &:before {
        @include sprite($category-explosionproof-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-explosionproof-small-white);
        }
      }
    }
    &--cable{
      &:before {
        @include sprite($category-cable-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-cable-small-white);
        }
      }
    }
    &--box{
      &:before {
        @include sprite($category-box-small);
        left: 18px;
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-box-small-white);
        }
      }
    }
    &--lighting{
      &:before {
        @include sprite($category-lighting-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-lighting-small-white);
        }
      }
    }
    &--network{
      &:before {
        @include sprite($category-network-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-network-small-white);
        }
      }
    }
    &--mounting{
      &:before {
        @include sprite($category-mounting-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-mounting-small-white);
        }
      }
    }
    &--other{
      &:before {
        @include sprite($category-other-small);
      }
      &.active,
      &:hover{
        &:before {
          @include sprite($category-other-small-white);
        }
      }
    }
    &.active,
    &:hover{
      background-color: $orange;
      color: #fff;
    }
  }

  &__childs{
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 17px 30px 10px 30px;
    width: 100%;
    display: none;
    &.active{
      display: block;
    }
    li{
      margin-bottom: 14px;
    }
  }
  &__item{
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    white-space: nowrap;
    &:hover{
      color: $orange;
    }
  }
}

.clickable-catalog-menu{
  .menu-catalog__second{
    display: none;
  }
  .open-first-level{
    .menu-catalog__second{
      display: block;
      width: 100%;
      box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }
}


.catalog-burger{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
  padding: 3px 5px;
  @media ($bp-larger-than-tablet) {
    margin-right: 14px;
  }
  span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #424242;
    margin: 2px 0;
  }
}

.search-top{
  padding-right: 16px;
  width: 100%;
  @media ($bp-larger-than-tablet) {
    padding-right: 10px;
  }
  &__box{
    background-color: #fff;
    border-radius: 16px;
    padding: 0 25px 0 25px;
    position: relative;
    @media ($bp-larger-than-tablet) {
      padding: 0 34px 0 56px;
    }
    &:before{
      display: inline-block;
      content: "";
      @include sprite($icon-search);
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scale(0.7);
      left: 7px;
      @media ($bp-larger-than-tablet) {
        left: 28px;
        transform: translateY(-50%);
      }
    }
  }
  &__input{
    color: #666;
    font-style: italic;
    font-size: 11px;
    border: 0 none;
    background-color: #fff;
    height: 24px;
    line-height: 24px;
    width: 100%;
    @media ($bp-larger-than-tablet) {
      height: 32px;
      line-height: 32px;
      font-size: 14px;
    }
  }
}



.product-card{
  max-width: 270px;
  padding: 18px 18px 8px 18px;
  background: #fcfcfc;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: $anim;
  position: relative;
  &:hover{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
  }
  &__flags{
    height: 54px;
  }
  &__image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
  }
  &__name{
    font-size: 13px;
    font-weight: bold;
    color: #606060;
    height: 56px;
    display: flex;
    align-items: center;
    line-height: 150%;
    a{
      color: #606060;
      text-decoration: none;
      &:hover{
        color: $orange;
      }
    }
  }
  &__options{
    margin-bottom: 0px;
  }
  &__flags{
    justify-content: flex-end;
    display: flex;
  }
  &__buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
  }
  &__price{
    color: #606060;
    font-size: 23px;
    font-weight: bold;
  }
  &__currency{
    color: #606060;
    font-size: 23px;
    font-weight: bold;
  }
  &__cost-old{
    font-size: 12px;
    color: #b2b2b2;
    text-decoration: line-through;
  }
  &__to-cart{
    position: relative;
    font-size: 12px;
    color: #606060;
    text-decoration: none;
    &:after{
      content: "";
      display: inline-block;
      @include sprite($to-cart);
      margin-left: 8px;
      vertical-align: middle;
    }
  }
}


.jumped{
  .product-card {
    transform: translateY(0);
    transition: $anim;
    position: relative;
    &:hover {
      transform: translateY(-4px);
      z-index: 100;
    }
  }
  .product-list-card {
    transform: translateY(0);
    transition: $anim;
    position: relative;
    &:hover {
      transform: translateY(-4px);
      z-index: 100;
    }
  }
  .viewed-card{
    transform: translateY(0);
    transition: $anim;
    position: relative;
    &:hover {
      transform: translateY(-4px);
      z-index: 100;
    }
  }
}


.product-option{
  font-size: 12px;
  color: #808080;
  display: flex;
  margin-bottom: 8px;
  &__name{
    position: relative;
    display: flex;
    width: 100%;
    white-space: nowrap;
    line-height: 120%;
    &:after{
      content: "";
      display: inline-block;
      width: 100%;
      background: transparent url('/assets/template/images/dot-bg.png') bottom left repeat-x;
      margin-left: 3px;
      margin-right: 3px;
      height: 12px;
    }
  }
  &__value{
    white-space: nowrap;
    line-height: 120%;
  }
}

.product-flag{
  padding: 3px 10px;
  border-radius: 14px;
  background-color: #808080;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  margin-top: 1px;
  margin-left: 4px;
  height: 21px;
  &--popular{
    background-color: $green;
  }
  &--action{
    background-color: $red;
  }
  &--new{
    background-color: #f8b922;
  }
}
.footer{

}
.footer-body{
  padding: 8px 0 16px;
  background-color: #434343;
  @media ($bp-larger-than-mobile) {
    padding: 10px 0 20px;
  }
  @media ($bp-larger-than-tablet) {
    padding: 27px 0 15px;
    //min-height: 200px;
  }
  @media ($bp-larger-than-desktop) {
    //min-height: 165px;
  }
  &__grid{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 110px;
    @media ($bp-larger-than-tablet) {
      flex-direction: row;
    }
  }
  &__box{
    position: relative;
    @media ($bp-larger-than-tablet) {
      padding-right: 70px;
    }
    @media ($bp-larger-than-desktop) {
      padding-right: 0;
    }
  }
  &__logo{
    width: 120px;
    margin-top: 3px;
    @media ($bp-larger-than-tablet) {
      width: auto;
      margin-top: 0;
    }
    img{
      max-width: 100%;
    }
  }
  &__logo-box{
    margin-bottom: 8px;
    flex-shrink: 0;
    @media ($bp-larger-than-mobile) {
      margin-bottom: 15px;
    }
    @media ($bp-larger-than-tablet) {
      padding-bottom: 0;
      padding-top: 3px;
      width: 230px;
    }
  }
  &__logo-menu{
    padding-left: 68px;
    padding-top: 8px;
    display: none;
    @media ($bp-larger-than-desktop) {
      display: block;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        margin-bottom: 6px;
        a{
          text-decoration: none;
          color: #fff;
          font-size: 13px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__menu{
    width: 170px;
    flex-shrink: 0;
    display: none;
    @media ($bp-larger-than-desktop) {
      display: block;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        margin-bottom: 6px;
        a{
          text-decoration: none;
          color: #fff;
          font-size: 13px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__address-box{
    width: 100%;
    display: none;
    @media ($bp-larger-than-desktop) {
      display: block;
    }
  }
  &__email-box{
    width: 164px;
    flex-shrink: 0;
    display: none;
    @media ($bp-larger-than-tablet) {
      display: block;
    }
  }
  &__contacts-box{
    @media ($bp-larger-than-tablet) {
      width: 200px;
      flex-shrink: 0;
    }
  }
  &__burger{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 0;
    background-color: #565656;
    margin-right: 0;
    margin-left: auto;
    flex-shrink: 0;
    @media ($bp-larger-than-mobile) {
      margin-right: 10px;
    }
    @media($bp-larger-than-desktop) {
      display: none;
    }
    span{
      position: absolute;
      width: 10px;
      margin-top: 2px;
      margin-bottom: 2px;
      height: 2px;
      display: inline-block;
      background-color: #fff;
      top: 12px;
      left: 10px;
      &:before{
        position: absolute;
        content: "";
        display: inline-block;
        height: 2px;
        left: 0;
        right: 0;
        top: -4px;
        background-color: #fff;
      }
      &:after{
        position: absolute;
        content: "";
        display: inline-block;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -4px;
        background-color: #fff;
      }
    }
  }
  &__header{
    color: #808080;
    font-size: 12px;
    margin-bottom: 5px;
    @media ($bp-larger-than-tablet) {
      margin-bottom: 8px;
    }
    &--right{
      text-align: right;
    }
  }
  &__value{
    color: #fcfcfc;
    font-size: 14px;
    + .footer-body__value{
      margin-top: 12px;
    }
    a{
      text-decoration: none;
      color: #fcfcfc;
      &:hover{
        text-decoration: underline;
      }
    }
    &--phone{
      font-size: 16px;
      margin-top: -2px;
      text-align: right;
    }
    &--right{
      text-align: right;
    }

  }
  &__requisites{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media ($bp-larger-than-tablet) {
      flex-direction: row;
    }
  }
  &__requisite{
    margin-bottom: 5px;
    @media ($bp-larger-than-tablet) {
      margin-bottom: 0;
    }
  }
}

.footer-contacts{
  &__grid{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: row;
    align-items: flex-end;
    @media ($bp-larger-than-tablet) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__social{
    text-align: right;
  }
}


.footer-icon{
  width: 30px;
  height: 30px;
  background-color: #7f7f7f;
  display: inline-block;
  transition: $anim;
  position: relative;
  margin-left: 1px;
  @media ($bp-larger-than-mobile) {
    margin-left: 4px;
  }
  @media ($bp-larger-than-tablet) {
    margin-left: 10px;
  }
  @media ($bp-larger-than-desktop) {
    margin-left: 7px;
    margin-bottom: 20px;
  }
  &:hover{
    background-color: $orange;
  }
  &:before{
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--vk{
    &:before {
      @include sprite($footer-vk);
    }
  }
  &--facebook{
    &:before {
      @include sprite($footer-facebook);
    }
  }
  &--instagram{
    &:before {
      @include sprite($footer-instagram);
    }
  }
  &--telegram{
    &:before {
      @include sprite($footer-telegram);
    }
  }
}

.footer-menu{
  padding: 20px 0;
  display: none;
  ul{
    list-style-type: none;
    margin: 0 0 15px;
    padding: 0;
    li{
      margin-bottom: 6px;
      a{
        text-decoration: none;
        color: #fff;
        font-size: 13px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.bottom-line{
  background-color: #363636;
  font-size: 12px;
  color: #808080;
  &__grid{
    min-height: 40px;
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    flex-direction: column;
    @media ($bp-larger-than-tablet) {
      flex-direction: row;
    }
  }
  &__copyright{
    padding: 0 15px;
    margin-top: 15px;
    margin-bottom: 8px;
    @media ($bp-larger-than-mobile) {
      margin-top: 10px;
      margin-bottom: 5px;
    }
    @media ($bp-larger-than-tablet) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__privacy{
    padding: 0 15px;
    margin-bottom: 8px;
    @media ($bp-larger-than-mobile) {
      margin-bottom: 5px;
    }
    @media ($bp-larger-than-tablet) {
      margin-bottom: 0;
    }
    a{
      color: #808080;
      text-decoration: none;
      &:hover{
        color: $orange;
      }
    }
  }
  &__developer{
    padding: 0 15px;
    margin-bottom: 10px;
    @media ($bp-larger-than-tablet) {
      margin-left: auto;
      margin-bottom: 0;
    }
    a{
      color: $orange;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


.cart-top{
  background-color: rgba(66, 66, 66, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  @media ($bp-larger-than-tablet) {
    width: 70px;
    height: 70px;
  }
  &:before{
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include sprite($icon-cart-small);
    @media ($bp-larger-than-tablet) {
      @include sprite($icon-cart);
    }
  }
  &__toggle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
  }
  &__total{
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    display: inline-block;
    top: -5px;
    right: -5px;
    background-color: $orange;
    color: #fff;
    font-size: 12px;
    text-align: center;
    @media ($bp-larger-than-tablet) {
      top: 0;
      right: 0;
    }
  }
  /*
  &.full{
    cursor: pointer;

  }*/
  &.open{
    .cart-items{
      visibility: visible;
      opacity: 1;
    }
  }
  &__link{
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $anim;
    @media($bp-larger-than-desktophd) {
      width: 100px;
    }
    &:hover{
      background-color: #8d99a4;
    }
  }

  &__items{
    //display: none;
  }
  &__header{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 16px;
    font-size: 13px;
  }
  &__close{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    &:before{
      display: inline-block;
      content: '';
      @include sprite($cart-close);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .cart-items{
    visibility: hidden;
    opacity: 0;
    //display: none;
    transition: $anim;
    cursor: default;
    position: absolute;
    width: 290px;
    top: 0;
    right: 0;
    border: 1px solid #e8e8e8;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    padding: 17px 20px;
    z-index: 100;
    .xbtn{
      width: 100%;
      margin-bottom: 0;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    li{
      margin: 0;
    }
  }
  &__body{
    border-bottom: 1px solid #e8e8e8;
    padding: 16px 0;
  }
  &__name{
    color: #404040;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  &__info{
    font-size: 12px;
    color: #808080;
    margin-bottom: 9px;
  }
  &__actions{
    display: flex;
    justify-content: space-between;
  }
  &__quatity{
    font-size: 12px;
    color: #808080;
  }
  &__price{
    font-weight: bold;
    font-size: 14px;
    color: #606060;
  }
  &__remove{
    color: #808080;
    font-size: 12px;
    padding-right: 18px;
    text-decoration: none;
    position: relative;
    &:after{
      content: '';
      display: inline-block;
      @include sprite($icon-trash);
      vertical-align: middle;
      position: absolute;
      right: 0;
      top: 2px;
    }
    &:hover{
      &:after{
        @include sprite($icon-trash-orange);
      }
    }
  }
  &__footer{
    padding-top: 20px;
    text-align: center;
    display: none;
    &--empty{
      padding-top: 12px;
      display: block;
      text-align: center;
      font-weight: bold;
    }
  }
  &.full{
    .cart-top{
      &__footer{
        display: block;
        &--empty{
          display: none;
        }
      }
    }
  }
  &__order{
    background-color: $orange;
    color: #fff;
    font-size: 14px;
    padding: 12px 15px;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
    margin-left: 4px;
    transition: $anim;
    &:hover{
      color: #fff;
      opacity: 0.8;
    }
  }
}


.crumbs {
  order: 1;
  margin: 24px 0 0;
  display: none;
  @media($bp-larger-than-tablet ) {
    order: 2;
    display: block;
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #606060;
    li {
      display: inline-block;
      margin-bottom: 0;
    }
    a{
      text-decoration: none;
      font-size: 12px;
      color: #606060;
    }
    li::after {
      content: "\00bb";
      margin: 0 5px;
      vertical-align: top;
      display: inline-block;
      background-repeat: no-repeat;
      color: $orange;
      @media($bp-larger-than-mobile ) {
        margin: 0 5px;
      }
    }
  }
}

.content{
  background-color: #fafafa;
  min-height: 360px;
  h1{
    font-size: 14px;
    color: #606060;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 18px;
    padding-top: 15px;
    @media ($bp-larger-than-tablet) {
      font-size: 20px;
      text-align: left;
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 24px;
      padding-top: auto;
    }
    @media ($bp-larger-than-desktop) {
      font-size: 24px;
      padding-top: 7px;
    }
  }
}

.styled{
  margin: 21px 0 18px;
  padding: 0;
  list-style-type: none;
  @media ($bp-larger-than-tablet) {
    margin: 30px 0 20px;
  }
  li {
    position: relative;
    margin-bottom: 13px;
    line-height: 134%;
    padding-left: 20px;
    font-size: 13px;
    color: #4c4c4c;
    @media ($bp-larger-than-tablet) {
      margin-bottom: 15px;
      line-height: 114%;
    }
    &:before {
      display: inline-block;
      content: '';
      @include sprite($paragraph-orange);
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
}


.btn{
  background-color: #d9d9d9;
  color: #404040;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
  border: 0 none;
  transition: $anim;
  &:hover{
    color: #fff;
    background-color: $orange;
  }

  &--orange{
    background-color: $orange;
    color: #fff;
    &:hover{
      background-color: #d9d9d9;
      color: #404040;
    }
  }

}

.radio-custom{
  margin: 0;
  &__input{
    display: none !important;
  }
  &__pseudo{
    width: 16px;
    height: 16px;
    border: 1px solid #ebebeb;
    position: relative;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__label{
    font-weight: $font-weight-regular;
    font-size: 13px;
    color: #606060;
  }
  &__input,
  &__pseudo,
  &__label{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  &__input:checked + .radio-custom__pseudo::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background: $orange;
    border-radius: 50%;
  }
}


.mobile-menu{
  background-color: #e6e6e6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  z-index: 100;
  padding-bottom: 5px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
  &__wrapper{
    position: relative;
  }
  &__city{

  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      display: block;
      margin: 0;
    }
    a{
      color: #404040;
      font-size: 12px;
      text-decoration: none;
      display: block;
      padding: 12px 0;
      border-top: 1px solid #d7d7d7;
      line-height: 100%;
      transition: $anim;
      &:hover{
        color: $orange;
        text-decoration: none;
      }
    }
  }
  &__cities{
    display: none;
    ul{
      text-align: right;
      a{
        padding-right: 15px;
      }
    }
  }
}

.mobile-city{
  display: flex;
  justify-content: space-between;
  color: #404040;
  font-size: 12px;
  padding: 12px 0;
  &__caption{

  }
  &__value{

  }
  &__name{
    text-decoration: none;
    color: #404040;
    padding-right: 15px;
    position: relative;
    &:after{
      display: inline-block;
      content: '';
      @include sprite($arrow-down);
      position: absolute;
      top: 7px;
      right: 0;
    }
    &.active{
      &:after{
        @include sprite($arrow-up-orange);
      }
    }
  }
}

.inner-partners-slider{
  .slick-slide{
    img{
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.stext{
  p{
    font-size: 13px;
    color: #4c4c4c;
    margin-bottom: 20px;
    line-height: 150%;
    @media($bp-larger-than-phablet) {
      margin-bottom: 7px;
    }
  }
}

.text-page{
  padding-bottom: 40px;
}

.to-top{
  width: 40px;
  height: 40px;
  background-color: #7f7f7f;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 50px;
  border-radius: 50%;
  opacity: 0.7;
  transition: $anim;
  visibility: hidden;
  display: none;
  @media($bp-larger-than-phablet) {
    visibility: visible;
  }
  &:hover{
    opacity: 1;
  }
  &:before{
    display: inline-block;
    content: '';
    @include sprite($to-top);
    position: absolute;
    top: 16px;
    left: 13px;
  }
}

#mse2_mfilter{
  .btn_more{
    background-color: #f2f2f2;
    &:hover{
      background-color: $orange;
    }
  } 
}

body .jGrowl{
  z-index: 99999;
}