<div class="cart-items cart-top__items">
    <a href="#" data-cart-toggle="" class="cart-top__close"></a>
    <div class="cart-top__header">В вашей корзине: </div>
    <ul id="mc-dynamic">
        <li>
            <div class="cart-top__body">
                <div class="cart-top__name">
                    Dahua XVR5104HS-4M
                </div>
                <div class="cart-top__info">
                    4-х канальный регистратор для подключения видеокамер
                </div>
                <div class="cart-top__actions">
                    <div class="cart-top__left">
                        <span class="cart-top__quatity">1 шт.:</span>
                        <span class="cart-top__price">560 ₽</span>
                    </div>
                    <div class="cart-top__right ms2_form_container">
                        <a href="#" class="cart-top__remove">Удалить</a>
                        <div style="display: none">
                            <form method="post" class="ms2_form col-xs-2">
                                <input type="hidden" name="key" value="5d7ef909c91d92d32ffc583d7d640833">
                                <input type="hidden" name="id" value="129">
                                <button class="cart-top__remove" type="submit" name="ms2_action" value="cart/remove" title="Удалить">Удалить</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </li>
    </ul>
    <div class="cart-top__footer">
        <a class="cart-top__order" href="#">Перейти в корзину</a>
    </div>

</div>