<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<title>Главная</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
	<!-- @if NODE_ENV='development' -->
	<link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/assets/template/vendor/slick/slick-theme.css"/>
	<link rel="stylesheet" href="/assets/template/css/main.css">
	<!-- @endif -->

	<!-- @if NODE_ENV='production' -->
	<link rel="stylesheet" href="/assets/template/css/main.min.css">
	<!-- @endif -->
</head>
<body>
<div class="topline">
	<div class="container">
		<div class="topline__grid">
			<ul class="topline__left">
				<li><a href="#">О компании</a></li>
				<li><a href="#">Сотрудничество</a></li>
			</ul>
			<ul class="topline__right">
				<li><a href="#">Услуги монтажа</a></li>
				<li><a href="#">Гарантия и сервис</a></li>
				<li><a href="#">Доставка и оплата</a></li>
				<li><a href="#">Статьи</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="header">
	<div class="container">
		<div class="header__grid">
			<div class="header__logo">
				<a href="#"><img src="/assets/template/images/logo.png" alt=""></a>
			</div>
			<div class="header__city">
				<div class="city-changer">
					<a href="#" class="city-changer__current">Новосибирск</a>
					<ul>
						<li><a href="#">Москва</a></li>
						<li><a href="#">Санкт-Петербург</a></li>
						<li><a href="#">Сызрань</a></li>
						<li><a href="#">Омск</a></li>
					</ul>
				</div>
			</div>
			<div class="header__email">
				<div class="header__email-box">
					<div class="header__email-icon"></div>
					<div class="header__email-link"><a href="mailto:info@unit-ss.ru">info@unit-ss.ru</a></div>
					<div class="header__email-lead">для заявок, круглосуточно</div>
				</div>
			</div>
			<div class="header__phone">
				<div class="header__phone-box">
					<div class="header__phone-icon"></div>
					<div class="header__phone-link"><a href="tel:#">8 (987) 654 32 10</a></div>
					<div class="header__phone-lead">прием заявок, с 9:00 до 21:00</div>
				</div>
			</div>
			<div class="header__burger toggle-menu">
				<span></span>
			</div>
			<div class="header__cart">
				<div id="msMiniCart" class="cart-top full">
					<span class="ms2_total_count cart-top__total">0</span>
					<a href="#" class="cart-top__toggle" data-cart-toggle></a>
					<!--START CART-->
					<div class="cart-items cart-top__items">
						<a href="#" data-cart-toggle="" class="cart-top__close"></a>
						<div class="cart-top__header">В вашей корзине: </div>
						<ul id="mc-dynamic">
							<li>
								<div class="cart-top__body">
									<div class="cart-top__name">
										Dahua XVR5104HS-4M
									</div>
									<div class="cart-top__info">
										4-х канальный регистратор для подключения видеокамер
									</div>
									<div class="cart-top__actions">
										<div class="cart-top__left">
											<span class="cart-top__quatity">1 шт.:</span>
											<span class="cart-top__price">560 ₽</span>
										</div>
										<div class="cart-top__right ms2_form_container">
											<a href="#" class="cart-top__remove">Удалить</a>
											<div style="display: none">
												<form method="post" class="ms2_form col-xs-2">
													<input type="hidden" name="key" value="5d7ef909c91d92d32ffc583d7d640833">
													<input type="hidden" name="id" value="129">
													<button class="cart-top__remove" type="submit" name="ms2_action" value="cart/remove" title="Удалить">Удалить</button>
												</form>
											</div>
										</div>

									</div>

								</div>
							</li>
						</ul>
						<div class="cart-top__footer">
							<a class="cart-top__order" href="#">Перейти в корзину</a>
						</div>
						<div class="cart-top__footer--empty">
							пусто
						</div>

					</div>
					<!--END CART-->
				</div>
			</div>
		</div>



	</div>
</div>
<div class="mobile-menu__wrapper">
	<div class="mobile-menu">
		<div class="container">
			<div class="mobile-city">
				<div class="mobile-city__caption">Ваш город:</div>
				<div class="mobile-city__value">
					<a href="#" class="mobile-city__name" data-toggle=".mobile-menu__cities">Новосибирск</a>
				</div>
			</div>
			<div class="mobile-menu__cities">
				<ul>
					<li><a href="#">Москва</a></li>
					<li><a href="#">Санкт-Петербург</a></li>
					<li><a href="#">Сызрань</a></li>
					<li><a href="#">Омск</a></li>
				</ul>
			</div>
			<ul class="">
				<li class="header-nav-item first"><a href="#" >О компании</a></li>
				<li class="header-nav-item"><a href="#" >Услуги монтажа</a></li>
				<li class="header-nav-item"><a href="#" >Гаранития и сервис</a></li>
				<li class="header-nav-item"><a href="#" >Доставка и оплата</a></li>
				<li class="header-nav-item"><a href="#" >Сотрудничество</a></li>
				<li class="header-nav-item"><a href="#" >Статьи </a></li>
				<li class="header-nav-item last"><a href="#" >Контакты</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="navigation">
	<div class="container phablet-container">
		<div class="navigation__box">
			<div class="navigation__grid">
				<div class="menu-catalog">
					<a href="#" class="catalog-burger">
						<span></span>
						<span></span>
						<span></span>
					</a>
					<a href="#" class="menu-catalog__header">Каталог продукции</a>
					<div class="menu-catalog__submenu">
						<div class="menu-catalog__panel">
							<div class="menu-catalog__first">
								<ul class="menu-catalog__list">
									<li data-menu-parent="21">
										<a class="menu-catalog__link menu-catalog__link--video" href="#">Видеонаблюдение</a>
									</li>
									<li data-menu-parent="22">
										<a class="menu-catalog__link menu-catalog__link--fire-equipment" href="#">Охранно-пожарное оборудование</a>
									</li>
									<li data-menu-parent="23">
										<a class="menu-catalog__link menu-catalog__link--warning" href="#">Системы оповещения и управления эвакуацией</a>
									</li>
									<li data-menu-parent="24">
										<a class="menu-catalog__link menu-catalog__link--firefighting" href="#">Пожаротушение и огнезащита</a>
									</li>
									<li data-menu-parent="25">
										<a class="menu-catalog__link menu-catalog__link--access" href="#">Системы контроля доступа</a>
									</li>
									<li data-menu-parent="26">
										<a class="menu-catalog__link menu-catalog__link--electrical" href="#">Электротехническое оборудование</a>
									</li>
									<li data-menu-parent="27">
										<a class="menu-catalog__link menu-catalog__link--explosionproof" href="#">Взрывозащищенное оборудование</a>
									</li>
									<li data-menu-parent="28">
										<a class="menu-catalog__link menu-catalog__link--cable" href="#">Кабельная продукция</a>
									</li>
									<li data-menu-parent="29">
										<a class="menu-catalog__link menu-catalog__link--box" href="#">Шкафы, щиты, боксы, компоненты СКС</a>
									</li>
									<li data-menu-parent="30">
										<a class="menu-catalog__link menu-catalog__link--lighting" href="#">Светотехническое оборудование</a>
									</li>
									<li data-menu-parent="31">
										<a class="menu-catalog__link menu-catalog__link--network" href="#">Сетевое оборудование</a>
									</li>
									<li data-menu-parent="32">
										<a class="menu-catalog__link menu-catalog__link--mounting" href="#">Монтажные материалы</a>
									</li>
									<li data-menu-parent="33">
										<a class="menu-catalog__link menu-catalog__link--other" href="#">Разное</a>
									</li>
								</ul>
							</div>
							<div class="menu-catalog__second">
								<ul class="menu-catalog__childs active" data-menu-childs="21">
									<li><a class="menu-catalog__item" href="#">IP камеры</a></li>
									<li><a class="menu-catalog__item" href="#">IP видеорегистраторы</a></li>
									<li><a class="menu-catalog__item" href="#">IP видеосерверы</a></li>
									<li><a class="menu-catalog__item" href="#">Аналоговые камеры</a></li>
									<li><a class="menu-catalog__item" href="#">Цифровые видеорегистраторы</a></li>
									<li><a class="menu-catalog__item" href="#">Видеорегистраторы гибридные</a></li>
									<li><a class="menu-catalog__item" href="#">Видеосерверы</a></li>
									<li><a class="menu-catalog__item" href="#">Объективы для камер видеонаблюдения</a></li>
									<li><a class="menu-catalog__item" href="#">Жесткие диски (HDD)</a></li>
									<li><a class="menu-catalog__item" href="#">Мониторы для видеонаблюдения</a></li>
									<li><a class="menu-catalog__item" href="#">Кодеры и декодеры</a></li>
									<li><a class="menu-catalog__item" href="#">Программное обеспечение, платы видеозахвата</a></li>
									<li><a class="menu-catalog__item" href="#">Дополнительное оборудование видеонаблюдения</a></li>
								</ul>
								<ul data-menu-childs="22" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Адресные системы пожарной сигнализации</a></li>
									<li><a class="menu-catalog__item" href="#">Комплексные и интегрированные системы безопасноcти</a></li>
									<li><a class="menu-catalog__item" href="#">Радиоканальные системы безопасности</a></li>
									<li><a class="menu-catalog__item" href="#">GSM мониторинг</a></li>
									<li><a class="menu-catalog__item" href="#">GPS мониторинг</a></li>
									<li><a class="menu-catalog__item" href="#">Системы передачи извещений</a></li>
									<li><a class="menu-catalog__item" href="#">Приёмно-контрольные приборы</a></li>
									<li><a class="menu-catalog__item" href="#">Извещатели охранные</a></li>
									<li><a class="menu-catalog__item" href="#">Извещатели пожарные</a></li>
									<li><a class="menu-catalog__item" href="#">Извещатели технологические</a></li>
									<li><a class="menu-catalog__item" href="#">Оповещатели</a></li>
									<li><a class="menu-catalog__item" href="#">Технические средства охраны периметра</a></li>
									<li><a class="menu-catalog__item" href="#">Дополнительное оборудование ОПС</a></li>
								</ul>
								<ul data-menu-childs="23" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Системы оповещения и музыкальной трансляции</a></li>
									<li><a class="menu-catalog__item" href="#">Системы оповещения о пожаре</a></li>
									<li><a class="menu-catalog__item" href="#">Акустические системы</a></li>
									<li><a class="menu-catalog__item" href="#">Усилители</a></li>
									<li><a class="menu-catalog__item" href="#">Предусилители</a></li>
									<li><a class="menu-catalog__item" href="#">Микшерные усилители</a></li>
									<li><a class="menu-catalog__item" href="#">Микрофонные консоли и микрофоны</a></li>
									<li><a class="menu-catalog__item" href="#">Встраиваемые модули</a></li>
									<li><a class="menu-catalog__item" href="#">Аксессуары СОУЭ</a></li>
								</ul>
								<ul data-menu-childs="24" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Аэрозольное пожаротушение</a></li>
									<li><a class="menu-catalog__item" href="#">Водяное пожаротушение</a></li>
									<li><a class="menu-catalog__item" href="#">Пенное пожаротушение</a></li>
									<li><a class="menu-catalog__item" href="#">Газовое пожаротушение</a></li>
									<li><a class="menu-catalog__item" href="#">Порошковое пожаротушение</a></li>
									<li><a class="menu-catalog__item" href="#">Системы пожаротушения и огнезащиты</a></li>
									<li><a class="menu-catalog__item" href="#">Огнетушители</a></li>
									<li><a class="menu-catalog__item" href="#">Огнезащитные краски</a></li>
									<li><a class="menu-catalog__item" href="#">Шкафы пожарные</a></li>
									<li><a class="menu-catalog__item" href="#">Щиты пожарные</a></li>
									<li><a class="menu-catalog__item" href="#">Дополнительное оборудование пожаротушения</a></li>
								</ul>
								<ul data-menu-childs="25" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Домофония</a></li>
									<li><a class="menu-catalog__item" href="#">Доводчики</a></li>
									<li><a class="menu-catalog__item" href="#">Замки</a></li>
									<li><a class="menu-catalog__item" href="#">Защелки</a></li>
									<li><a class="menu-catalog__item" href="#">Идентификаторы</a></li>
									<li><a class="menu-catalog__item" href="#">Контроллеры</a></li>
									<li><a class="menu-catalog__item" href="#">Считывателии</a></li>
									<li><a class="menu-catalog__item" href="#">Кнопки выхода</a></li>
									<li><a class="menu-catalog__item" href="#">Калитки</a></li>
									<li><a class="menu-catalog__item" href="#">Ограждения</a></li>
									<li><a class="menu-catalog__item" href="#">Турникеты</a></li>
									<li><a class="menu-catalog__item" href="#">Сетевые СКУД</a></li>
									<li><a class="menu-catalog__item" href="#">Шлагбаумы и автоматика</a></li>
									<li><a class="menu-catalog__item" href="#">Досмотровое оборудование</a></li>
									<li><a class="menu-catalog__item" href="#">Дополнительное оборудование СКУД</a></li>
								</ul>
								<ul data-menu-childs="26" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Автоматические выключатели</a></li>
									<li><a class="menu-catalog__item" href="#">Аккумуляторы и термостаты</a></li>
									<li><a class="menu-catalog__item" href="#">Боксы под АКБ</a></li>
									<li><a class="menu-catalog__item" href="#">Тестеры АКБ</a></li>
									<li><a class="menu-catalog__item" href="#">Источники питания</a></li>
									<li><a class="menu-catalog__item" href="#">Счетчики электроэнергии</a></li>
									<li><a class="menu-catalog__item" href="#">Преобразователи напряжения</a></li>
									<li><a class="menu-catalog__item" href="#">Трансформаторы</a></li>
									<li><a class="menu-catalog__item" href="#">Устройства защиты от перенапряжений</a></li>
									<li><a class="menu-catalog__item" href="#">Электроустановочные изделия и аксессуары</a></li>
								</ul>
								<ul data-menu-childs="27" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Кожухи для видеокамер (Ex)</a></li>
									<li><a class="menu-catalog__item" href="#">Приборы контроля и управления (Ex)</a></li>
									<li><a class="menu-catalog__item" href="#">Извещатели охранные (Ex)</a></li>
									<li><a class="menu-catalog__item" href="#">Извещатели пожарные (Ex)</a></li>
									<li><a class="menu-catalog__item" href="#">Оповещатели (Ex)</a></li>
									<li><a class="menu-catalog__item" href="#">Системы для охраны взрывоопасных объектов</a></li>
									<li><a class="menu-catalog__item" href="#">Акустические системы (Ex)</a></li>
									<li><a class="menu-catalog__item" href="#">Модули пожаротушения (Ex)</a></li>
									<li><a class="menu-catalog__item" href="#">Устройства сигнально-пусковые (Ex)</a></li>
									<li><a class="menu-catalog__item" href="#">Дополнительное оборудование (Ex)</a></li>
								</ul>
								<ul data-menu-childs="28" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Кабель акустический</a></li>
									<li><a class="menu-catalog__item" href="#">Кабель витая пара (LAN)</a></li>
									<li><a class="menu-catalog__item" href="#">Кабель коаксиальный</a></li>
									<li><a class="menu-catalog__item" href="#">Кабель комбинированный</a></li>
									<li><a class="menu-catalog__item" href="#">Кабель оптоволоконный</a></li>
									<li><a class="menu-catalog__item" href="#">Кабель охранно-пожарной сигнализации</a></li>
									<li><a class="menu-catalog__item" href="#">Кабель силовой</a></li>
									<li><a class="menu-catalog__item" href="#">Кабель специальных и промышленных интерфейсов</a></li>
									<li><a class="menu-catalog__item" href="#">Кабель телефонный</a></li>
								</ul>
								<ul data-menu-childs="29" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Боксы для автоматов</a></li>
									<li><a class="menu-catalog__item" href="#">Щиты электрические</a></li>
									<li><a class="menu-catalog__item" href="#">Стойки телекоммуникационные</a></li>
									<li><a class="menu-catalog__item" href="#">Шкафы телекоммуникационные</a></li>
									<li><a class="menu-catalog__item" href="#">Монтажные инструменты</a></li>
									<li><a class="menu-catalog__item" href="#">Коммутационные изделия</a></li>
									<li><a class="menu-catalog__item" href="#">Аксессуары для стоек и шкафов</a></li>
								</ul>
								<ul data-menu-childs="31" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Беспроводное оборудование</a></li>
									<li><a class="menu-catalog__item" href="#">Коммутаторы</a></li>
									<li><a class="menu-catalog__item" href="#">Медиаконвертеры</a></li>
									<li><a class="menu-catalog__item" href="#">Сетевые хранилища</a></li>
									<li><a class="menu-catalog__item" href="#">Антенны для сетевого оборудования</a></li>
									<li><a class="menu-catalog__item" href="#">Дополнительное оборудование для сетей</a></li>
								</ul>
								<ul data-menu-childs="32" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Кабель-канал</a></li>
									<li><a class="menu-catalog__item" href="#">Аксессуары для кабель-канала</a></li>
									<li><a class="menu-catalog__item" href="#">Лотки кабельные</a></li>
									<li><a class="menu-catalog__item" href="#">Аксессуары для лотков</a></li>
									<li><a class="menu-catalog__item" href="#">Металлорукав</a></li>
									<li><a class="menu-catalog__item" href="#">Труба гофрированная</a></li>
									<li><a class="menu-catalog__item" href="#">Труба гладкая</a></li>
									<li><a class="menu-catalog__item" href="#">Повороты</a></li>
									<li><a class="menu-catalog__item" href="#">Муфты тройники</a></li>
									<li><a class="menu-catalog__item" href="#">Коробки распределительные</a></li>
									<li><a class="menu-catalog__item" href="#">Крепежные изделия</a></li>
								</ul>
								<ul data-menu-childs="30" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Прожекторы</a></li>
									<li><a class="menu-catalog__item" href="#">Светильники</a></li>
								</ul>
								<ul data-menu-childs="33" class="menu-catalog__childs">
									<li><a class="menu-catalog__item" href="#">Разное</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="search-top">
					<div class="search-top__box">
						<input type="text" class="search-top__input" placeholder="Поиск по каталогу систем безопасности" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>