<div class="product-card">
    <div class="product-card__flags">
        <div class="product-flag product-flag--action">Акция</div>
    </div>
    <div class="product-card__image">
        <a href="#"><img src="/assets/template/images/tmp/good1.png" alt="" /></a>
    </div>
    <div class="product-card__name">
        <a href="#">IP-камера Hikvision DS-2CD2622 FWD-IS</a>
    </div>
    <div class="product-card__options">
        <div class="product-option">
            <div class="product-option__name"><span>Количество точек матрицы:</span></div>
            <div class="product-option__value">2 Мп</div>
        </div>
        <div class="product-option">
            <div class="product-option__name">Применение:</div>
            <div class="product-option__value">уличная</div>
        </div>
        <div class="product-option">
            <div class="product-option__name">Сетевой интерфейс:</div>
            <div class="product-option__value">проводной</div>
        </div>
    </div>
    <div class="product-card__buy">
        <div class="product-card__cost">
            <span class="product-card__price">562</span>
            <span class="product-card__currency">₽</span>
        </div>
        <a href="#" class="product-card__to-cart">
            в корзину
        </a>
    </div>
</div>