// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$about-gbu-name: 'about-gbu';
$about-gbu-x: 0px;
$about-gbu-y: 135px;
$about-gbu-offset-x: 0px;
$about-gbu-offset-y: -135px;
$about-gbu-width: 36px;
$about-gbu-height: 55px;
$about-gbu-total-width: 303px;
$about-gbu-total-height: 286px;
$about-gbu-image: '/assets/template/css/sprites/sprite.png';
$about-gbu: (0px, 135px, 0px, -135px, 36px, 55px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'about-gbu', );
$cart-close-name: 'cart-close';
$cart-close-x: 286px;
$cart-close-y: 164px;
$cart-close-offset-x: -286px;
$cart-close-offset-y: -164px;
$cart-close-width: 12px;
$cart-close-height: 12px;
$cart-close-total-width: 303px;
$cart-close-total-height: 286px;
$cart-close-image: '/assets/template/css/sprites/sprite.png';
$cart-close: (286px, 164px, -286px, -164px, 12px, 12px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'cart-close', );
$catalog-category-access-name: 'catalog-category-access';
$catalog-category-access-x: 258px;
$catalog-category-access-y: 199px;
$catalog-category-access-offset-x: -258px;
$catalog-category-access-offset-y: -199px;
$catalog-category-access-width: 20px;
$catalog-category-access-height: 31px;
$catalog-category-access-total-width: 303px;
$catalog-category-access-total-height: 286px;
$catalog-category-access-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-access: (258px, 199px, -258px, -199px, 20px, 31px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-access', );
$catalog-category-box-name: 'catalog-category-box';
$catalog-category-box-x: 258px;
$catalog-category-box-y: 110px;
$catalog-category-box-offset-x: -258px;
$catalog-category-box-offset-y: -110px;
$catalog-category-box-width: 27px;
$catalog-category-box-height: 30px;
$catalog-category-box-total-width: 303px;
$catalog-category-box-total-height: 286px;
$catalog-category-box-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-box: (258px, 110px, -258px, -110px, 27px, 30px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-box', );
$catalog-category-cable-name: 'catalog-category-cable';
$catalog-category-cable-x: 35px;
$catalog-category-cable-y: 229px;
$catalog-category-cable-offset-x: -35px;
$catalog-category-cable-offset-y: -229px;
$catalog-category-cable-width: 35px;
$catalog-category-cable-height: 26px;
$catalog-category-cable-total-width: 303px;
$catalog-category-cable-total-height: 286px;
$catalog-category-cable-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-cable: (35px, 229px, -35px, -229px, 35px, 26px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-cable', );
$catalog-category-electrical-name: 'catalog-category-electrical';
$catalog-category-electrical-x: 103px;
$catalog-category-electrical-y: 190px;
$catalog-category-electrical-offset-x: -103px;
$catalog-category-electrical-offset-y: -190px;
$catalog-category-electrical-width: 35px;
$catalog-category-electrical-height: 32px;
$catalog-category-electrical-total-width: 303px;
$catalog-category-electrical-total-height: 286px;
$catalog-category-electrical-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-electrical: (103px, 190px, -103px, -190px, 35px, 32px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-electrical', );
$catalog-category-explosionproof-name: 'catalog-category-explosionproof';
$catalog-category-explosionproof-x: 0px;
$catalog-category-explosionproof-y: 257px;
$catalog-category-explosionproof-offset-x: 0px;
$catalog-category-explosionproof-offset-y: -257px;
$catalog-category-explosionproof-width: 31px;
$catalog-category-explosionproof-height: 29px;
$catalog-category-explosionproof-total-width: 303px;
$catalog-category-explosionproof-total-height: 286px;
$catalog-category-explosionproof-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-explosionproof: (0px, 257px, 0px, -257px, 31px, 29px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-explosionproof', );
$catalog-category-fire-equipment-name: 'catalog-category-fire-equipment';
$catalog-category-fire-equipment-x: 68px;
$catalog-category-fire-equipment-y: 190px;
$catalog-category-fire-equipment-offset-x: -68px;
$catalog-category-fire-equipment-offset-y: -190px;
$catalog-category-fire-equipment-width: 35px;
$catalog-category-fire-equipment-height: 33px;
$catalog-category-fire-equipment-total-width: 303px;
$catalog-category-fire-equipment-total-height: 286px;
$catalog-category-fire-equipment-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-fire-equipment: (68px, 190px, -68px, -190px, 35px, 33px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-fire-equipment', );
$catalog-category-firefighting-name: 'catalog-category-firefighting';
$catalog-category-firefighting-x: 235px;
$catalog-category-firefighting-y: 100px;
$catalog-category-firefighting-offset-x: -235px;
$catalog-category-firefighting-offset-y: -100px;
$catalog-category-firefighting-width: 16px;
$catalog-category-firefighting-height: 35px;
$catalog-category-firefighting-total-width: 303px;
$catalog-category-firefighting-total-height: 286px;
$catalog-category-firefighting-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-firefighting: (235px, 100px, -235px, -100px, 16px, 35px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-firefighting', );
$catalog-category-lighting-name: 'catalog-category-lighting';
$catalog-category-lighting-x: 258px;
$catalog-category-lighting-y: 0px;
$catalog-category-lighting-offset-x: -258px;
$catalog-category-lighting-offset-y: 0px;
$catalog-category-lighting-width: 28px;
$catalog-category-lighting-height: 34px;
$catalog-category-lighting-total-width: 303px;
$catalog-category-lighting-total-height: 286px;
$catalog-category-lighting-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-lighting: (258px, 0px, -258px, 0px, 28px, 34px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-lighting', );
$catalog-category-mounting-name: 'catalog-category-mounting';
$catalog-category-mounting-x: 258px;
$catalog-category-mounting-y: 140px;
$catalog-category-mounting-offset-x: -258px;
$catalog-category-mounting-offset-y: -140px;
$catalog-category-mounting-width: 27px;
$catalog-category-mounting-height: 27px;
$catalog-category-mounting-total-width: 303px;
$catalog-category-mounting-total-height: 286px;
$catalog-category-mounting-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-mounting: (258px, 140px, -258px, -140px, 27px, 27px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-mounting', );
$catalog-category-network-name: 'catalog-category-network';
$catalog-category-network-x: 70px;
$catalog-category-network-y: 229px;
$catalog-category-network-offset-x: -70px;
$catalog-category-network-offset-y: -229px;
$catalog-category-network-width: 31px;
$catalog-category-network-height: 26px;
$catalog-category-network-total-width: 303px;
$catalog-category-network-total-height: 286px;
$catalog-category-network-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-network: (70px, 229px, -70px, -229px, 31px, 26px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-network', );
$catalog-category-other-name: 'catalog-category-other';
$catalog-category-other-x: 173px;
$catalog-category-other-y: 190px;
$catalog-category-other-offset-x: -173px;
$catalog-category-other-offset-y: -190px;
$catalog-category-other-width: 35px;
$catalog-category-other-height: 30px;
$catalog-category-other-total-width: 303px;
$catalog-category-other-total-height: 286px;
$catalog-category-other-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-other: (173px, 190px, -173px, -190px, 35px, 30px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-other', );
$catalog-category-video-name: 'catalog-category-video';
$catalog-category-video-x: 138px;
$catalog-category-video-y: 190px;
$catalog-category-video-offset-x: -138px;
$catalog-category-video-offset-y: -190px;
$catalog-category-video-width: 35px;
$catalog-category-video-height: 31px;
$catalog-category-video-total-width: 303px;
$catalog-category-video-total-height: 286px;
$catalog-category-video-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-video: (138px, 190px, -138px, -190px, 35px, 31px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-video', );
$catalog-category-warning-name: 'catalog-category-warning';
$catalog-category-warning-x: 0px;
$catalog-category-warning-y: 229px;
$catalog-category-warning-offset-x: 0px;
$catalog-category-warning-offset-y: -229px;
$catalog-category-warning-width: 35px;
$catalog-category-warning-height: 28px;
$catalog-category-warning-total-width: 303px;
$catalog-category-warning-total-height: 286px;
$catalog-category-warning-image: '/assets/template/css/sprites/sprite.png';
$catalog-category-warning: (0px, 229px, 0px, -229px, 35px, 28px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-category-warning', );
$catalog-menu-arrow-name: 'catalog-menu-arrow';
$catalog-menu-arrow-x: 296px;
$catalog-menu-arrow-y: 84px;
$catalog-menu-arrow-offset-x: -296px;
$catalog-menu-arrow-offset-y: -84px;
$catalog-menu-arrow-width: 7px;
$catalog-menu-arrow-height: 4px;
$catalog-menu-arrow-total-width: 303px;
$catalog-menu-arrow-total-height: 286px;
$catalog-menu-arrow-image: '/assets/template/css/sprites/sprite.png';
$catalog-menu-arrow: (296px, 84px, -296px, -84px, 7px, 4px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-menu-arrow', );
$catalog-sort-arrow-name: 'catalog-sort-arrow';
$catalog-sort-arrow-x: 296px;
$catalog-sort-arrow-y: 88px;
$catalog-sort-arrow-offset-x: -296px;
$catalog-sort-arrow-offset-y: -88px;
$catalog-sort-arrow-width: 6px;
$catalog-sort-arrow-height: 3px;
$catalog-sort-arrow-total-width: 303px;
$catalog-sort-arrow-total-height: 286px;
$catalog-sort-arrow-image: '/assets/template/css/sprites/sprite.png';
$catalog-sort-arrow: (296px, 88px, -296px, -88px, 6px, 3px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-sort-arrow', );
$catalog-view-grid-active-name: 'catalog-view-grid-active';
$catalog-view-grid-active-x: 286px;
$catalog-view-grid-active-y: 220px;
$catalog-view-grid-active-offset-x: -286px;
$catalog-view-grid-active-offset-y: -220px;
$catalog-view-grid-active-width: 11px;
$catalog-view-grid-active-height: 11px;
$catalog-view-grid-active-total-width: 303px;
$catalog-view-grid-active-total-height: 286px;
$catalog-view-grid-active-image: '/assets/template/css/sprites/sprite.png';
$catalog-view-grid-active: (286px, 220px, -286px, -220px, 11px, 11px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-view-grid-active', );
$catalog-view-grid-name: 'catalog-view-grid';
$catalog-view-grid-x: 286px;
$catalog-view-grid-y: 231px;
$catalog-view-grid-offset-x: -286px;
$catalog-view-grid-offset-y: -231px;
$catalog-view-grid-width: 11px;
$catalog-view-grid-height: 11px;
$catalog-view-grid-total-width: 303px;
$catalog-view-grid-total-height: 286px;
$catalog-view-grid-image: '/assets/template/css/sprites/sprite.png';
$catalog-view-grid: (286px, 231px, -286px, -231px, 11px, 11px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-view-grid', );
$catalog-view-list-active-name: 'catalog-view-list-active';
$catalog-view-list-active-x: 286px;
$catalog-view-list-active-y: 187px;
$catalog-view-list-active-offset-x: -286px;
$catalog-view-list-active-offset-y: -187px;
$catalog-view-list-active-width: 12px;
$catalog-view-list-active-height: 11px;
$catalog-view-list-active-total-width: 303px;
$catalog-view-list-active-total-height: 286px;
$catalog-view-list-active-image: '/assets/template/css/sprites/sprite.png';
$catalog-view-list-active: (286px, 187px, -286px, -187px, 12px, 11px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-view-list-active', );
$catalog-view-list-name: 'catalog-view-list';
$catalog-view-list-x: 286px;
$catalog-view-list-y: 176px;
$catalog-view-list-offset-x: -286px;
$catalog-view-list-offset-y: -176px;
$catalog-view-list-width: 12px;
$catalog-view-list-height: 11px;
$catalog-view-list-total-width: 303px;
$catalog-view-list-total-height: 286px;
$catalog-view-list-image: '/assets/template/css/sprites/sprite.png';
$catalog-view-list: (286px, 176px, -286px, -176px, 12px, 11px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'catalog-view-list', );
$category-access-small-white-name: 'category-access-small-white';
$category-access-small-white-x: 286px;
$category-access-small-white-y: 112px;
$category-access-small-white-offset-x: -286px;
$category-access-small-white-offset-y: -112px;
$category-access-small-white-width: 11px;
$category-access-small-white-height: 17px;
$category-access-small-white-total-width: 303px;
$category-access-small-white-total-height: 286px;
$category-access-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-access-small-white: (286px, 112px, -286px, -112px, 11px, 17px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-access-small-white', );
$category-access-small-name: 'category-access-small';
$category-access-small-x: 286px;
$category-access-small-y: 129px;
$category-access-small-offset-x: -286px;
$category-access-small-offset-y: -129px;
$category-access-small-width: 11px;
$category-access-small-height: 17px;
$category-access-small-total-width: 303px;
$category-access-small-total-height: 286px;
$category-access-small-image: '/assets/template/css/sprites/sprite.png';
$category-access-small: (286px, 129px, -286px, -129px, 11px, 17px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-access-small', );
$category-access-white-name: 'category-access-white';
$category-access-white-x: 258px;
$category-access-white-y: 34px;
$category-access-white-offset-x: -258px;
$category-access-white-offset-y: -34px;
$category-access-white-width: 24px;
$category-access-white-height: 38px;
$category-access-white-total-width: 303px;
$category-access-white-total-height: 286px;
$category-access-white-image: '/assets/template/css/sprites/sprite.png';
$category-access-white: (258px, 34px, -258px, -34px, 24px, 38px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-access-white', );
$category-access-name: 'category-access';
$category-access-x: 258px;
$category-access-y: 72px;
$category-access-offset-x: -258px;
$category-access-offset-y: -72px;
$category-access-width: 24px;
$category-access-height: 38px;
$category-access-total-width: 303px;
$category-access-total-height: 286px;
$category-access-image: '/assets/template/css/sprites/sprite.png';
$category-access: (258px, 72px, -258px, -72px, 24px, 38px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-access', );
$category-box-small-white-name: 'category-box-small-white';
$category-box-small-white-x: 286px;
$category-box-small-white-y: 42px;
$category-box-small-white-offset-x: -286px;
$category-box-small-white-offset-y: -42px;
$category-box-small-white-width: 13px;
$category-box-small-white-height: 16px;
$category-box-small-white-total-width: 303px;
$category-box-small-white-total-height: 286px;
$category-box-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-box-small-white: (286px, 42px, -286px, -42px, 13px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-box-small-white', );
$category-box-small-name: 'category-box-small';
$category-box-small-x: 286px;
$category-box-small-y: 26px;
$category-box-small-offset-x: -286px;
$category-box-small-offset-y: -26px;
$category-box-small-width: 13px;
$category-box-small-height: 16px;
$category-box-small-total-width: 303px;
$category-box-small-total-height: 286px;
$category-box-small-image: '/assets/template/css/sprites/sprite.png';
$category-box-small: (286px, 26px, -286px, -26px, 13px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-box-small', );
$category-box-white-name: 'category-box-white';
$category-box-white-x: 0px;
$category-box-white-y: 190px;
$category-box-white-offset-x: 0px;
$category-box-white-offset-y: -190px;
$category-box-white-width: 34px;
$category-box-white-height: 39px;
$category-box-white-total-width: 303px;
$category-box-white-total-height: 286px;
$category-box-white-image: '/assets/template/css/sprites/sprite.png';
$category-box-white: (0px, 190px, 0px, -190px, 34px, 39px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-box-white', );
$category-box-name: 'category-box';
$category-box-x: 34px;
$category-box-y: 190px;
$category-box-offset-x: -34px;
$category-box-offset-y: -190px;
$category-box-width: 34px;
$category-box-height: 39px;
$category-box-total-width: 303px;
$category-box-total-height: 286px;
$category-box-image: '/assets/template/css/sprites/sprite.png';
$category-box: (34px, 190px, -34px, -190px, 34px, 39px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-box', );
$category-cable-small-white-name: 'category-cable-small-white';
$category-cable-small-white-x: 129px;
$category-cable-small-white-y: 172px;
$category-cable-small-white-offset-x: -129px;
$category-cable-small-white-offset-y: -172px;
$category-cable-small-white-width: 19px;
$category-cable-small-white-height: 15px;
$category-cable-small-white-total-width: 303px;
$category-cable-small-white-total-height: 286px;
$category-cable-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-cable-small-white: (129px, 172px, -129px, -172px, 19px, 15px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-cable-small-white', );
$category-cable-small-name: 'category-cable-small';
$category-cable-small-x: 148px;
$category-cable-small-y: 172px;
$category-cable-small-offset-x: -148px;
$category-cable-small-offset-y: -172px;
$category-cable-small-width: 19px;
$category-cable-small-height: 15px;
$category-cable-small-total-width: 303px;
$category-cable-small-total-height: 286px;
$category-cable-small-image: '/assets/template/css/sprites/sprite.png';
$category-cable-small: (148px, 172px, -148px, -172px, 19px, 15px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-cable-small', );
$category-cable-white-name: 'category-cable-white';
$category-cable-white-x: 36px;
$category-cable-white-y: 135px;
$category-cable-white-offset-x: -36px;
$category-cable-white-offset-y: -135px;
$category-cable-white-width: 50px;
$category-cable-white-height: 37px;
$category-cable-white-total-width: 303px;
$category-cable-white-total-height: 286px;
$category-cable-white-image: '/assets/template/css/sprites/sprite.png';
$category-cable-white: (36px, 135px, -36px, -135px, 50px, 37px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-cable-white', );
$category-cable-name: 'category-cable';
$category-cable-x: 100px;
$category-cable-y: 93px;
$category-cable-offset-x: -100px;
$category-cable-offset-y: -93px;
$category-cable-width: 50px;
$category-cable-height: 37px;
$category-cable-total-width: 303px;
$category-cable-total-height: 286px;
$category-cable-image: '/assets/template/css/sprites/sprite.png';
$category-cable: (100px, 93px, -100px, -93px, 50px, 37px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-cable', );
$category-electrical-small-white-name: 'category-electrical-small-white';
$category-electrical-small-white-x: 158px;
$category-electrical-small-white-y: 229px;
$category-electrical-small-white-offset-x: -158px;
$category-electrical-small-white-offset-y: -229px;
$category-electrical-small-white-width: 19px;
$category-electrical-small-white-height: 19px;
$category-electrical-small-white-total-width: 303px;
$category-electrical-small-white-total-height: 286px;
$category-electrical-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-electrical-small-white: (158px, 229px, -158px, -229px, 19px, 19px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-electrical-small-white', );
$category-electrical-small-name: 'category-electrical-small';
$category-electrical-small-x: 101px;
$category-electrical-small-y: 229px;
$category-electrical-small-offset-x: -101px;
$category-electrical-small-offset-y: -229px;
$category-electrical-small-width: 19px;
$category-electrical-small-height: 19px;
$category-electrical-small-total-width: 303px;
$category-electrical-small-total-height: 286px;
$category-electrical-small-image: '/assets/template/css/sprites/sprite.png';
$category-electrical-small: (101px, 229px, -101px, -229px, 19px, 19px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-electrical-small', );
$category-electrical-white-name: 'category-electrical-white';
$category-electrical-white-x: 50px;
$category-electrical-white-y: 47px;
$category-electrical-white-offset-x: -50px;
$category-electrical-white-offset-y: -47px;
$category-electrical-white-width: 50px;
$category-electrical-white-height: 46px;
$category-electrical-white-total-width: 303px;
$category-electrical-white-total-height: 286px;
$category-electrical-white-image: '/assets/template/css/sprites/sprite.png';
$category-electrical-white: (50px, 47px, -50px, -47px, 50px, 46px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-electrical-white', );
$category-electrical-name: 'category-electrical';
$category-electrical-x: 0px;
$category-electrical-y: 47px;
$category-electrical-offset-x: 0px;
$category-electrical-offset-y: -47px;
$category-electrical-width: 50px;
$category-electrical-height: 46px;
$category-electrical-total-width: 303px;
$category-electrical-total-height: 286px;
$category-electrical-image: '/assets/template/css/sprites/sprite.png';
$category-electrical: (0px, 47px, 0px, -47px, 50px, 46px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-electrical', );
$category-explosionproof-small-white-name: 'category-explosionproof-small-white';
$category-explosionproof-small-white-x: 120px;
$category-explosionproof-small-white-y: 229px;
$category-explosionproof-small-white-offset-x: -120px;
$category-explosionproof-small-white-offset-y: -229px;
$category-explosionproof-small-white-width: 19px;
$category-explosionproof-small-white-height: 19px;
$category-explosionproof-small-white-total-width: 303px;
$category-explosionproof-small-white-total-height: 286px;
$category-explosionproof-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-explosionproof-small-white: (120px, 229px, -120px, -229px, 19px, 19px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-explosionproof-small-white', );
$category-explosionproof-small-name: 'category-explosionproof-small';
$category-explosionproof-small-x: 139px;
$category-explosionproof-small-y: 229px;
$category-explosionproof-small-offset-x: -139px;
$category-explosionproof-small-offset-y: -229px;
$category-explosionproof-small-width: 19px;
$category-explosionproof-small-height: 19px;
$category-explosionproof-small-total-width: 303px;
$category-explosionproof-small-total-height: 286px;
$category-explosionproof-small-image: '/assets/template/css/sprites/sprite.png';
$category-explosionproof-small: (139px, 229px, -139px, -229px, 19px, 19px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-explosionproof-small', );
$category-explosionproof-white-name: 'category-explosionproof-white';
$category-explosionproof-white-x: 50px;
$category-explosionproof-white-y: 0px;
$category-explosionproof-white-offset-x: -50px;
$category-explosionproof-white-offset-y: 0px;
$category-explosionproof-white-width: 50px;
$category-explosionproof-white-height: 47px;
$category-explosionproof-white-total-width: 303px;
$category-explosionproof-white-total-height: 286px;
$category-explosionproof-white-image: '/assets/template/css/sprites/sprite.png';
$category-explosionproof-white: (50px, 0px, -50px, 0px, 50px, 47px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-explosionproof-white', );
$category-explosionproof-name: 'category-explosionproof';
$category-explosionproof-x: 0px;
$category-explosionproof-y: 0px;
$category-explosionproof-offset-x: 0px;
$category-explosionproof-offset-y: 0px;
$category-explosionproof-width: 50px;
$category-explosionproof-height: 47px;
$category-explosionproof-total-width: 303px;
$category-explosionproof-total-height: 286px;
$category-explosionproof-image: '/assets/template/css/sprites/sprite.png';
$category-explosionproof: (0px, 0px, 0px, 0px, 50px, 47px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-explosionproof', );
$category-fire-equipment-small-white-name: 'category-fire-equipment-small-white';
$category-fire-equipment-small-white-x: 194px;
$category-fire-equipment-small-white-y: 229px;
$category-fire-equipment-small-white-offset-x: -194px;
$category-fire-equipment-small-white-offset-y: -229px;
$category-fire-equipment-small-white-width: 17px;
$category-fire-equipment-small-white-height: 16px;
$category-fire-equipment-small-white-total-width: 303px;
$category-fire-equipment-small-white-total-height: 286px;
$category-fire-equipment-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-fire-equipment-small-white: (194px, 229px, -194px, -229px, 17px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-fire-equipment-small-white', );
$category-fire-equipment-small-name: 'category-fire-equipment-small';
$category-fire-equipment-small-x: 211px;
$category-fire-equipment-small-y: 229px;
$category-fire-equipment-small-offset-x: -211px;
$category-fire-equipment-small-offset-y: -229px;
$category-fire-equipment-small-width: 17px;
$category-fire-equipment-small-height: 16px;
$category-fire-equipment-small-total-width: 303px;
$category-fire-equipment-small-total-height: 286px;
$category-fire-equipment-small-image: '/assets/template/css/sprites/sprite.png';
$category-fire-equipment-small: (211px, 229px, -211px, -229px, 17px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-fire-equipment-small', );
$category-fire-equipment-white-name: 'category-fire-equipment-white';
$category-fire-equipment-white-x: 191px;
$category-fire-equipment-white-y: 41px;
$category-fire-equipment-white-offset-x: -191px;
$category-fire-equipment-white-offset-y: -41px;
$category-fire-equipment-white-width: 44px;
$category-fire-equipment-white-height: 41px;
$category-fire-equipment-white-total-width: 303px;
$category-fire-equipment-white-total-height: 286px;
$category-fire-equipment-white-image: '/assets/template/css/sprites/sprite.png';
$category-fire-equipment-white: (191px, 41px, -191px, -41px, 44px, 41px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-fire-equipment-white', );
$category-fire-equipment-name: 'category-fire-equipment';
$category-fire-equipment-x: 191px;
$category-fire-equipment-y: 0px;
$category-fire-equipment-offset-x: -191px;
$category-fire-equipment-offset-y: 0px;
$category-fire-equipment-width: 44px;
$category-fire-equipment-height: 41px;
$category-fire-equipment-total-width: 303px;
$category-fire-equipment-total-height: 286px;
$category-fire-equipment-image: '/assets/template/css/sprites/sprite.png';
$category-fire-equipment: (191px, 0px, -191px, 0px, 44px, 41px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-fire-equipment', );
$category-firefighting-small-white-name: 'category-firefighting-small-white';
$category-firefighting-small-white-x: 286px;
$category-firefighting-small-white-y: 78px;
$category-firefighting-small-white-offset-x: -286px;
$category-firefighting-small-white-offset-y: -78px;
$category-firefighting-small-white-width: 10px;
$category-firefighting-small-white-height: 20px;
$category-firefighting-small-white-total-width: 303px;
$category-firefighting-small-white-total-height: 286px;
$category-firefighting-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-firefighting-small-white: (286px, 78px, -286px, -78px, 10px, 20px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-firefighting-small-white', );
$category-firefighting-small-name: 'category-firefighting-small';
$category-firefighting-small-x: 286px;
$category-firefighting-small-y: 58px;
$category-firefighting-small-offset-x: -286px;
$category-firefighting-small-offset-y: -58px;
$category-firefighting-small-width: 10px;
$category-firefighting-small-height: 20px;
$category-firefighting-small-total-width: 303px;
$category-firefighting-small-total-height: 286px;
$category-firefighting-small-image: '/assets/template/css/sprites/sprite.png';
$category-firefighting-small: (286px, 58px, -286px, -58px, 10px, 20px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-firefighting-small', );
$category-firefighting-white-name: 'category-firefighting-white';
$category-firefighting-white-x: 235px;
$category-firefighting-white-y: 0px;
$category-firefighting-white-offset-x: -235px;
$category-firefighting-white-offset-y: 0px;
$category-firefighting-white-width: 23px;
$category-firefighting-white-height: 50px;
$category-firefighting-white-total-width: 303px;
$category-firefighting-white-total-height: 286px;
$category-firefighting-white-image: '/assets/template/css/sprites/sprite.png';
$category-firefighting-white: (235px, 0px, -235px, 0px, 23px, 50px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-firefighting-white', );
$category-firefighting-name: 'category-firefighting';
$category-firefighting-x: 235px;
$category-firefighting-y: 50px;
$category-firefighting-offset-x: -235px;
$category-firefighting-offset-y: -50px;
$category-firefighting-width: 23px;
$category-firefighting-height: 50px;
$category-firefighting-total-width: 303px;
$category-firefighting-total-height: 286px;
$category-firefighting-image: '/assets/template/css/sprites/sprite.png';
$category-firefighting: (235px, 50px, -235px, -50px, 23px, 50px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-firefighting', );
$category-lighting-small-white-name: 'category-lighting-small-white';
$category-lighting-small-white-x: 78px;
$category-lighting-small-white-y: 257px;
$category-lighting-small-white-offset-x: -78px;
$category-lighting-small-white-offset-y: -257px;
$category-lighting-small-white-width: 17px;
$category-lighting-small-white-height: 20px;
$category-lighting-small-white-total-width: 303px;
$category-lighting-small-white-total-height: 286px;
$category-lighting-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-lighting-small-white: (78px, 257px, -78px, -257px, 17px, 20px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-lighting-small-white', );
$category-lighting-small-name: 'category-lighting-small';
$category-lighting-small-x: 61px;
$category-lighting-small-y: 257px;
$category-lighting-small-offset-x: -61px;
$category-lighting-small-offset-y: -257px;
$category-lighting-small-width: 17px;
$category-lighting-small-height: 20px;
$category-lighting-small-total-width: 303px;
$category-lighting-small-total-height: 286px;
$category-lighting-small-image: '/assets/template/css/sprites/sprite.png';
$category-lighting-small: (61px, 257px, -61px, -257px, 17px, 20px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-lighting-small', );
$category-lighting-white-name: 'category-lighting-white';
$category-lighting-white-x: 150px;
$category-lighting-white-y: 50px;
$category-lighting-white-offset-x: -150px;
$category-lighting-white-offset-y: -50px;
$category-lighting-white-width: 41px;
$category-lighting-white-height: 50px;
$category-lighting-white-total-width: 303px;
$category-lighting-white-total-height: 286px;
$category-lighting-white-image: '/assets/template/css/sprites/sprite.png';
$category-lighting-white: (150px, 50px, -150px, -50px, 41px, 50px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-lighting-white', );
$category-lighting-name: 'category-lighting';
$category-lighting-x: 150px;
$category-lighting-y: 0px;
$category-lighting-offset-x: -150px;
$category-lighting-offset-y: 0px;
$category-lighting-width: 41px;
$category-lighting-height: 50px;
$category-lighting-total-width: 303px;
$category-lighting-total-height: 286px;
$category-lighting-image: '/assets/template/css/sprites/sprite.png';
$category-lighting: (150px, 0px, -150px, 0px, 41px, 50px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-lighting', );
$category-mounting-small-white-name: 'category-mounting-small-white';
$category-mounting-small-white-x: 177px;
$category-mounting-small-white-y: 229px;
$category-mounting-small-white-offset-x: -177px;
$category-mounting-small-white-offset-y: -229px;
$category-mounting-small-white-width: 17px;
$category-mounting-small-white-height: 16px;
$category-mounting-small-white-total-width: 303px;
$category-mounting-small-white-total-height: 286px;
$category-mounting-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-mounting-small-white: (177px, 229px, -177px, -229px, 17px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-mounting-small-white', );
$category-mounting-small-name: 'category-mounting-small';
$category-mounting-small-x: 228px;
$category-mounting-small-y: 229px;
$category-mounting-small-offset-x: -228px;
$category-mounting-small-offset-y: -229px;
$category-mounting-small-width: 17px;
$category-mounting-small-height: 16px;
$category-mounting-small-total-width: 303px;
$category-mounting-small-total-height: 286px;
$category-mounting-small-image: '/assets/template/css/sprites/sprite.png';
$category-mounting-small: (228px, 229px, -228px, -229px, 17px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-mounting-small', );
$category-mounting-white-name: 'category-mounting-white';
$category-mounting-white-x: 191px;
$category-mounting-white-y: 82px;
$category-mounting-white-offset-x: -191px;
$category-mounting-white-offset-y: -82px;
$category-mounting-white-width: 44px;
$category-mounting-white-height: 37px;
$category-mounting-white-total-width: 303px;
$category-mounting-white-total-height: 286px;
$category-mounting-white-image: '/assets/template/css/sprites/sprite.png';
$category-mounting-white: (191px, 82px, -191px, -82px, 44px, 37px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-mounting-white', );
$category-mounting-name: 'category-mounting';
$category-mounting-x: 191px;
$category-mounting-y: 119px;
$category-mounting-offset-x: -191px;
$category-mounting-offset-y: -119px;
$category-mounting-width: 44px;
$category-mounting-height: 37px;
$category-mounting-total-width: 303px;
$category-mounting-total-height: 286px;
$category-mounting-image: '/assets/template/css/sprites/sprite.png';
$category-mounting: (191px, 119px, -191px, -119px, 44px, 37px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-mounting', );
$category-network-small-white-name: 'category-network-small-white';
$category-network-small-white-x: 111px;
$category-network-small-white-y: 257px;
$category-network-small-white-offset-x: -111px;
$category-network-small-white-offset-y: -257px;
$category-network-small-white-width: 19px;
$category-network-small-white-height: 12px;
$category-network-small-white-total-width: 303px;
$category-network-small-white-total-height: 286px;
$category-network-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-network-small-white: (111px, 257px, -111px, -257px, 19px, 12px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-network-small-white', );
$category-network-small-name: 'category-network-small';
$category-network-small-x: 167px;
$category-network-small-y: 172px;
$category-network-small-offset-x: -167px;
$category-network-small-offset-y: -172px;
$category-network-small-width: 19px;
$category-network-small-height: 12px;
$category-network-small-total-width: 303px;
$category-network-small-total-height: 286px;
$category-network-small-image: '/assets/template/css/sprites/sprite.png';
$category-network-small: (167px, 172px, -167px, -172px, 19px, 12px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-network-small', );
$category-network-white-name: 'category-network-white';
$category-network-white-x: 86px;
$category-network-white-y: 135px;
$category-network-white-offset-x: -86px;
$category-network-white-offset-y: -135px;
$category-network-white-width: 50px;
$category-network-white-height: 28px;
$category-network-white-total-width: 303px;
$category-network-white-total-height: 286px;
$category-network-white-image: '/assets/template/css/sprites/sprite.png';
$category-network-white: (86px, 135px, -86px, -135px, 50px, 28px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-network-white', );
$category-network-name: 'category-network';
$category-network-x: 136px;
$category-network-y: 135px;
$category-network-offset-x: -136px;
$category-network-offset-y: -135px;
$category-network-width: 50px;
$category-network-height: 28px;
$category-network-total-width: 303px;
$category-network-total-height: 286px;
$category-network-image: '/assets/template/css/sprites/sprite.png';
$category-network: (136px, 135px, -136px, -135px, 50px, 28px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-network', );
$category-other-small-white-name: 'category-other-small-white';
$category-other-small-white-x: 73px;
$category-other-small-white-y: 172px;
$category-other-small-white-offset-x: -73px;
$category-other-small-white-offset-y: -172px;
$category-other-small-white-width: 19px;
$category-other-small-white-height: 17px;
$category-other-small-white-total-width: 303px;
$category-other-small-white-total-height: 286px;
$category-other-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-other-small-white: (73px, 172px, -73px, -172px, 19px, 17px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-other-small-white', );
$category-other-small-name: 'category-other-small';
$category-other-small-x: 54px;
$category-other-small-y: 172px;
$category-other-small-offset-x: -54px;
$category-other-small-offset-y: -172px;
$category-other-small-width: 19px;
$category-other-small-height: 17px;
$category-other-small-total-width: 303px;
$category-other-small-total-height: 286px;
$category-other-small-image: '/assets/template/css/sprites/sprite.png';
$category-other-small: (54px, 172px, -54px, -172px, 19px, 17px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-other-small', );
$category-other-white-name: 'category-other-white';
$category-other-white-x: 100px;
$category-other-white-y: 0px;
$category-other-white-offset-x: -100px;
$category-other-white-offset-y: 0px;
$category-other-white-width: 50px;
$category-other-white-height: 43px;
$category-other-white-total-width: 303px;
$category-other-white-total-height: 286px;
$category-other-white-image: '/assets/template/css/sprites/sprite.png';
$category-other-white: (100px, 0px, -100px, 0px, 50px, 43px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-other-white', );
$category-other-name: 'category-other';
$category-other-x: 100px;
$category-other-y: 43px;
$category-other-offset-x: -100px;
$category-other-offset-y: -43px;
$category-other-width: 50px;
$category-other-height: 43px;
$category-other-total-width: 303px;
$category-other-total-height: 286px;
$category-other-image: '/assets/template/css/sprites/sprite.png';
$category-other: (100px, 43px, -100px, -43px, 50px, 43px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-other', );
$category-video-small-white-name: 'category-video-small-white';
$category-video-small-white-x: 235px;
$category-video-small-white-y: 213px;
$category-video-small-white-offset-x: -235px;
$category-video-small-white-offset-y: -213px;
$category-video-small-white-width: 19px;
$category-video-small-white-height: 16px;
$category-video-small-white-total-width: 303px;
$category-video-small-white-total-height: 286px;
$category-video-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-video-small-white: (235px, 213px, -235px, -213px, 19px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-video-small-white', );
$category-video-small-name: 'category-video-small';
$category-video-small-x: 92px;
$category-video-small-y: 172px;
$category-video-small-offset-x: -92px;
$category-video-small-offset-y: -172px;
$category-video-small-width: 19px;
$category-video-small-height: 16px;
$category-video-small-total-width: 303px;
$category-video-small-total-height: 286px;
$category-video-small-image: '/assets/template/css/sprites/sprite.png';
$category-video-small: (92px, 172px, -92px, -172px, 19px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-video-small', );
$category-video-white-name: 'category-video-white';
$category-video-white-x: 50px;
$category-video-white-y: 93px;
$category-video-white-offset-x: -50px;
$category-video-white-offset-y: -93px;
$category-video-white-width: 50px;
$category-video-white-height: 42px;
$category-video-white-total-width: 303px;
$category-video-white-total-height: 286px;
$category-video-white-image: '/assets/template/css/sprites/sprite.png';
$category-video-white: (50px, 93px, -50px, -93px, 50px, 42px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-video-white', );
$category-video-name: 'category-video';
$category-video-x: 0px;
$category-video-y: 93px;
$category-video-offset-x: 0px;
$category-video-offset-y: -93px;
$category-video-width: 50px;
$category-video-height: 42px;
$category-video-total-width: 303px;
$category-video-total-height: 286px;
$category-video-image: '/assets/template/css/sprites/sprite.png';
$category-video: (0px, 93px, 0px, -93px, 50px, 42px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-video', );
$category-warning-small-white-name: 'category-warning-small-white';
$category-warning-small-white-x: 286px;
$category-warning-small-white-y: 0px;
$category-warning-small-white-offset-x: -286px;
$category-warning-small-white-offset-y: 0px;
$category-warning-small-white-width: 17px;
$category-warning-small-white-height: 13px;
$category-warning-small-white-total-width: 303px;
$category-warning-small-white-total-height: 286px;
$category-warning-small-white-image: '/assets/template/css/sprites/sprite.png';
$category-warning-small-white: (286px, 0px, -286px, 0px, 17px, 13px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-warning-small-white', );
$category-warning-small-name: 'category-warning-small';
$category-warning-small-x: 286px;
$category-warning-small-y: 13px;
$category-warning-small-offset-x: -286px;
$category-warning-small-offset-y: -13px;
$category-warning-small-width: 17px;
$category-warning-small-height: 13px;
$category-warning-small-total-width: 303px;
$category-warning-small-total-height: 286px;
$category-warning-small-image: '/assets/template/css/sprites/sprite.png';
$category-warning-small: (286px, 13px, -286px, -13px, 17px, 13px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-warning-small', );
$category-warning-white-name: 'category-warning-white';
$category-warning-white-x: 191px;
$category-warning-white-y: 156px;
$category-warning-white-offset-x: -191px;
$category-warning-white-offset-y: -156px;
$category-warning-white-width: 40px;
$category-warning-white-height: 32px;
$category-warning-white-total-width: 303px;
$category-warning-white-total-height: 286px;
$category-warning-white-image: '/assets/template/css/sprites/sprite.png';
$category-warning-white: (191px, 156px, -191px, -156px, 40px, 32px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-warning-white', );
$category-warning-name: 'category-warning';
$category-warning-x: 150px;
$category-warning-y: 100px;
$category-warning-offset-x: -150px;
$category-warning-offset-y: -100px;
$category-warning-width: 40px;
$category-warning-height: 32px;
$category-warning-total-width: 303px;
$category-warning-total-height: 286px;
$category-warning-image: '/assets/template/css/sprites/sprite.png';
$category-warning: (150px, 100px, -150px, -100px, 40px, 32px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'category-warning', );
$footer-facebook-name: 'footer-facebook';
$footer-facebook-x: 286px;
$footer-facebook-y: 146px;
$footer-facebook-offset-x: -286px;
$footer-facebook-offset-y: -146px;
$footer-facebook-width: 10px;
$footer-facebook-height: 18px;
$footer-facebook-total-width: 303px;
$footer-facebook-total-height: 286px;
$footer-facebook-image: '/assets/template/css/sprites/sprite.png';
$footer-facebook: (286px, 146px, -286px, -146px, 10px, 18px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'footer-facebook', );
$footer-instagram-name: 'footer-instagram';
$footer-instagram-x: 36px;
$footer-instagram-y: 172px;
$footer-instagram-offset-x: -36px;
$footer-instagram-offset-y: -172px;
$footer-instagram-width: 18px;
$footer-instagram-height: 18px;
$footer-instagram-total-width: 303px;
$footer-instagram-total-height: 286px;
$footer-instagram-image: '/assets/template/css/sprites/sprite.png';
$footer-instagram: (36px, 172px, -36px, -172px, 18px, 18px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'footer-instagram', );
$footer-telegram-name: 'footer-telegram';
$footer-telegram-x: 111px;
$footer-telegram-y: 172px;
$footer-telegram-offset-x: -111px;
$footer-telegram-offset-y: -172px;
$footer-telegram-width: 18px;
$footer-telegram-height: 16px;
$footer-telegram-total-width: 303px;
$footer-telegram-total-height: 286px;
$footer-telegram-image: '/assets/template/css/sprites/sprite.png';
$footer-telegram: (111px, 172px, -111px, -172px, 18px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'footer-telegram', );
$footer-vk-name: 'footer-vk';
$footer-vk-x: 130px;
$footer-vk-y: 257px;
$footer-vk-offset-x: -130px;
$footer-vk-offset-y: -257px;
$footer-vk-width: 18px;
$footer-vk-height: 10px;
$footer-vk-total-width: 303px;
$footer-vk-total-height: 286px;
$footer-vk-image: '/assets/template/css/sprites/sprite.png';
$footer-vk: (130px, 257px, -130px, -257px, 18px, 10px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'footer-vk', );
$header-email-name: 'header-email';
$header-email-x: 31px;
$header-email-y: 257px;
$header-email-offset-x: -31px;
$header-email-offset-y: -257px;
$header-email-width: 30px;
$header-email-height: 28px;
$header-email-total-width: 303px;
$header-email-total-height: 286px;
$header-email-image: '/assets/template/css/sprites/sprite.png';
$header-email: (31px, 257px, -31px, -257px, 30px, 28px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'header-email', );
$header-phone-name: 'header-phone';
$header-phone-x: 258px;
$header-phone-y: 167px;
$header-phone-offset-x: -258px;
$header-phone-offset-y: -167px;
$header-phone-width: 20px;
$header-phone-height: 32px;
$header-phone-total-width: 303px;
$header-phone-total-height: 286px;
$header-phone-image: '/assets/template/css/sprites/sprite.png';
$header-phone: (258px, 167px, -258px, -167px, 20px, 32px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'header-phone', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 258px;
$icon-cart-y: 230px;
$icon-cart-offset-x: -258px;
$icon-cart-offset-y: -230px;
$icon-cart-width: 24px;
$icon-cart-height: 23px;
$icon-cart-total-width: 303px;
$icon-cart-total-height: 286px;
$icon-cart-image: '/assets/template/css/sprites/sprite.png';
$icon-cart: (258px, 230px, -258px, -230px, 24px, 23px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'icon-cart', );
$icon-scrollbar-name: 'icon-scrollbar';
$icon-scrollbar-x: 296px;
$icon-scrollbar-y: 78px;
$icon-scrollbar-offset-x: -296px;
$icon-scrollbar-offset-y: -78px;
$icon-scrollbar-width: 5px;
$icon-scrollbar-height: 6px;
$icon-scrollbar-total-width: 303px;
$icon-scrollbar-total-height: 286px;
$icon-scrollbar-image: '/assets/template/css/sprites/sprite.png';
$icon-scrollbar: (296px, 78px, -296px, -78px, 5px, 6px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'icon-scrollbar', );
$icon-search-name: 'icon-search';
$icon-search-x: 286px;
$icon-search-y: 98px;
$icon-search-offset-x: -286px;
$icon-search-offset-y: -98px;
$icon-search-width: 14px;
$icon-search-height: 14px;
$icon-search-total-width: 303px;
$icon-search-total-height: 286px;
$icon-search-image: '/assets/template/css/sprites/sprite.png';
$icon-search: (286px, 98px, -286px, -98px, 14px, 14px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'icon-search', );
$icon-trash-orange-name: 'icon-trash-orange';
$icon-trash-orange-x: 286px;
$icon-trash-orange-y: 198px;
$icon-trash-orange-offset-x: -286px;
$icon-trash-orange-offset-y: -198px;
$icon-trash-orange-width: 11px;
$icon-trash-orange-height: 11px;
$icon-trash-orange-total-width: 303px;
$icon-trash-orange-total-height: 286px;
$icon-trash-orange-image: '/assets/template/css/sprites/sprite.png';
$icon-trash-orange: (286px, 198px, -286px, -198px, 11px, 11px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'icon-trash-orange', );
$icon-trash-name: 'icon-trash';
$icon-trash-x: 286px;
$icon-trash-y: 209px;
$icon-trash-offset-x: -286px;
$icon-trash-offset-y: -209px;
$icon-trash-width: 11px;
$icon-trash-height: 11px;
$icon-trash-total-width: 303px;
$icon-trash-total-height: 286px;
$icon-trash-image: '/assets/template/css/sprites/sprite.png';
$icon-trash: (286px, 209px, -286px, -209px, 11px, 11px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'icon-trash', );
$main-slider-next-name: 'main-slider-next';
$main-slider-next-x: 296px;
$main-slider-next-y: 68px;
$main-slider-next-offset-x: -296px;
$main-slider-next-offset-y: -68px;
$main-slider-next-width: 6px;
$main-slider-next-height: 10px;
$main-slider-next-total-width: 303px;
$main-slider-next-total-height: 286px;
$main-slider-next-image: '/assets/template/css/sprites/sprite.png';
$main-slider-next: (296px, 68px, -296px, -68px, 6px, 10px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'main-slider-next', );
$main-slider-prev-name: 'main-slider-prev';
$main-slider-prev-x: 296px;
$main-slider-prev-y: 58px;
$main-slider-prev-offset-x: -296px;
$main-slider-prev-offset-y: -58px;
$main-slider-prev-width: 6px;
$main-slider-prev-height: 10px;
$main-slider-prev-total-width: 303px;
$main-slider-prev-total-height: 286px;
$main-slider-prev-image: '/assets/template/css/sprites/sprite.png';
$main-slider-prev: (296px, 58px, -296px, -58px, 6px, 10px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'main-slider-prev', );
$paragraph-orange-name: 'paragraph-orange';
$paragraph-orange-x: 286px;
$paragraph-orange-y: 242px;
$paragraph-orange-offset-x: -286px;
$paragraph-orange-offset-y: -242px;
$paragraph-orange-width: 10px;
$paragraph-orange-height: 10px;
$paragraph-orange-total-width: 303px;
$paragraph-orange-total-height: 286px;
$paragraph-orange-image: '/assets/template/css/sprites/sprite.png';
$paragraph-orange: (286px, 242px, -286px, -242px, 10px, 10px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'paragraph-orange', );
$paragraph-name: 'paragraph';
$paragraph-x: 286px;
$paragraph-y: 252px;
$paragraph-offset-x: -286px;
$paragraph-offset-y: -252px;
$paragraph-width: 9px;
$paragraph-height: 9px;
$paragraph-total-width: 303px;
$paragraph-total-height: 286px;
$paragraph-image: '/assets/template/css/sprites/sprite.png';
$paragraph: (286px, 252px, -286px, -252px, 9px, 9px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'paragraph', );
$sly-next-active-name: 'sly-next-active';
$sly-next-active-x: 235px;
$sly-next-active-y: 187px;
$sly-next-active-offset-x: -235px;
$sly-next-active-offset-y: -187px;
$sly-next-active-width: 16px;
$sly-next-active-height: 26px;
$sly-next-active-total-width: 303px;
$sly-next-active-total-height: 286px;
$sly-next-active-image: '/assets/template/css/sprites/sprite.png';
$sly-next-active: (235px, 187px, -235px, -187px, 16px, 26px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'sly-next-active', );
$sly-next-name: 'sly-next';
$sly-next-x: 235px;
$sly-next-y: 161px;
$sly-next-offset-x: -235px;
$sly-next-offset-y: -161px;
$sly-next-width: 16px;
$sly-next-height: 26px;
$sly-next-total-width: 303px;
$sly-next-total-height: 286px;
$sly-next-image: '/assets/template/css/sprites/sprite.png';
$sly-next: (235px, 161px, -235px, -161px, 16px, 26px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'sly-next', );
$sly-prev-active-name: 'sly-prev-active';
$sly-prev-active-x: 235px;
$sly-prev-active-y: 135px;
$sly-prev-active-offset-x: -235px;
$sly-prev-active-offset-y: -135px;
$sly-prev-active-width: 16px;
$sly-prev-active-height: 26px;
$sly-prev-active-total-width: 303px;
$sly-prev-active-total-height: 286px;
$sly-prev-active-image: '/assets/template/css/sprites/sprite.png';
$sly-prev-active: (235px, 135px, -235px, -135px, 16px, 26px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'sly-prev-active', );
$sly-prev-name: 'sly-prev';
$sly-prev-x: 208px;
$sly-prev-y: 190px;
$sly-prev-offset-x: -208px;
$sly-prev-offset-y: -190px;
$sly-prev-width: 16px;
$sly-prev-height: 26px;
$sly-prev-total-width: 303px;
$sly-prev-total-height: 286px;
$sly-prev-image: '/assets/template/css/sprites/sprite.png';
$sly-prev: (208px, 190px, -208px, -190px, 16px, 26px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'sly-prev', );
$to-cart-name: 'to-cart';
$to-cart-x: 95px;
$to-cart-y: 257px;
$to-cart-offset-x: -95px;
$to-cart-offset-y: -257px;
$to-cart-width: 16px;
$to-cart-height: 16px;
$to-cart-total-width: 303px;
$to-cart-total-height: 286px;
$to-cart-image: '/assets/template/css/sprites/sprite.png';
$to-cart: (95px, 257px, -95px, -257px, 16px, 16px, 303px, 286px, '/assets/template/css/sprites/sprite.png', 'to-cart', );
$spritesheet-width: 303px;
$spritesheet-height: 286px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($about-gbu, $cart-close, $catalog-category-access, $catalog-category-box, $catalog-category-cable, $catalog-category-electrical, $catalog-category-explosionproof, $catalog-category-fire-equipment, $catalog-category-firefighting, $catalog-category-lighting, $catalog-category-mounting, $catalog-category-network, $catalog-category-other, $catalog-category-video, $catalog-category-warning, $catalog-menu-arrow, $catalog-sort-arrow, $catalog-view-grid-active, $catalog-view-grid, $catalog-view-list-active, $catalog-view-list, $category-access-small-white, $category-access-small, $category-access-white, $category-access, $category-box-small-white, $category-box-small, $category-box-white, $category-box, $category-cable-small-white, $category-cable-small, $category-cable-white, $category-cable, $category-electrical-small-white, $category-electrical-small, $category-electrical-white, $category-electrical, $category-explosionproof-small-white, $category-explosionproof-small, $category-explosionproof-white, $category-explosionproof, $category-fire-equipment-small-white, $category-fire-equipment-small, $category-fire-equipment-white, $category-fire-equipment, $category-firefighting-small-white, $category-firefighting-small, $category-firefighting-white, $category-firefighting, $category-lighting-small-white, $category-lighting-small, $category-lighting-white, $category-lighting, $category-mounting-small-white, $category-mounting-small, $category-mounting-white, $category-mounting, $category-network-small-white, $category-network-small, $category-network-white, $category-network, $category-other-small-white, $category-other-small, $category-other-white, $category-other, $category-video-small-white, $category-video-small, $category-video-white, $category-video, $category-warning-small-white, $category-warning-small, $category-warning-white, $category-warning, $footer-facebook, $footer-instagram, $footer-telegram, $footer-vk, $header-email, $header-phone, $icon-cart, $icon-scrollbar, $icon-search, $icon-trash-orange, $icon-trash, $main-slider-next, $main-slider-prev, $paragraph-orange, $paragraph, $sly-next-active, $sly-next, $sly-prev-active, $sly-prev, $to-cart, );
$spritesheet: (303px, 286px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
