//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Статьи</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <h1>Полезные статьи</h1>
        <div class="articles">
            <div class="articles-menu">
                <div class="articles-menu__header">
                    <span class="articles-menu__link" data-toggle=".articles-menu__body">Новинки рынка безопасности</span>
                </div>
                <div class="articles-menu__body">
                    <div class="articles-menu__list">
                        <div class="articles-menu__left">
                            <ul>
                                <li class="active"><a href="#">Полезная информация</a></li>
                                <li><a href="#">Новинки рынка безопасности</a></li>
                                <li><a href="#">Новости нашего магазина</a></li>
                            </ul>
                        </div>
                        <div class="articles-menu__right">
                            <ul>
                                <li><a href="#">Особые предложения</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="articles-search">
                <form action="">
                    <div class="articles-search__box">
                        <input type="text" class="articles-search__input" placeholder="Введите словосочетание для поиска по каталогу статей">
                    </div>
                </form>
            </div>
            <div class="articles__grid">
                <div class="articles__item">
                    <div class="articles__photo">
                        <img src="/assets/template/images/tmp/news1.png" alt="">
                    </div>
                    <div class="articles__info">
                        <div class="articles__date-box">
                            <span class="articles__date">01.02.2019</span>
                        </div>
                        <div class="articles__name">
                            Новые 4-мегапиксельные видеокамеры формата AHD с управляемым объективом от MICRODIGITAL Inc.
                        </div>
                        <div class="articles__text">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                            некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет
                                непонятным смыслом и придаст неповторимый колорит советских времен.
                        </div>
                        <a href="#" class="articles__more">
                            Показать подробнее
                        </a>
                    </div>
                </div>
                <div class="articles__item">
                    <div class="articles__photo">
                        <img src="/assets/template/images/tmp/news2.png" alt="">
                    </div>
                    <div class="articles__info">
                        <div class="articles__date-box">
                            <span class="articles__date">31.01.2019</span>
                        </div>
                        <div class="articles__name">
                            Мультиформатный видеорегистратор нового поколения RVi-1HDR16L от RVi Group
                        </div>
                        <div class="articles__text">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                                некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет
                                непонятным смыслом и придаст неповторимый колорит советских времен.
                        </div>
                        <a href="#" class="articles__more">
                            Показать подробнее
                        </a>
                    </div>
                </div>
                <div class="articles__item">
                    <div class="articles__photo">
                        <img src="/assets/template/images/tmp/news3.png" alt="">
                    </div>
                    <div class="articles__info">
                        <div class="articles__date-box">
                            <span class="articles__date">31.01.2019</span>
                        </div>
                        <div class="articles__name">
                            Представляем 4-канальный IP-видеорегистратор RVi со встроенным PoE-коммутатором
                        </div>
                        <div class="articles__text">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                                некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет
                                непонятным смыслом и придаст неповторимый колорит советских времен.
                        </div>
                        <a href="#" class="articles__more">
                            Показать подробнее
                        </a>
                    </div>
                </div>
                <div class="articles__item">
                    <div class="articles__photo">
                        <img src="/assets/template/images/tmp/news4.png" alt="">
                    </div>
                    <div class="articles__info">
                        <div class="articles__date-box">
                            <span class="articles__date">31.01.2019</span>
                        </div>
                        <div class="articles__name">
                            Smartec представил уличный ИК-датчик с дальностью обнаружения до 300 м.
                        </div>
                        <div class="articles__text">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                                некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет
                                непонятным смыслом и придаст неповторимый колорит советских времен.
                        </div>
                        <a href="#" class="articles__more">
                            Показать подробнее
                        </a>
                    </div>
                </div>
                <div class="articles__item">
                    <div class="articles__photo">
                        <img src="/assets/template/images/tmp/news1.png" alt="">
                    </div>
                    <div class="articles__info">
                        <div class="articles__date-box">
                            <span class="articles__date">01.02.2019</span>
                        </div>
                        <div class="articles__name">
                            Новые 4-мегапиксельные видеокамеры формата AHD с управляемым объективом от MICRODIGITAL Inc.
                        </div>
                        <div class="articles__text">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                                некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет
                                непонятным смыслом и придаст неповторимый колорит советских времен.
                        </div>
                        <a href="#" class="articles__more">
                            Показать подробнее
                        </a>
                    </div>
                </div>
                <div class="articles__item articles__item--mobile">
                    <div class="articles__photo">
                        <img src="/assets/template/images/tmp/news2.png" alt="">
                    </div>
                    <div class="articles__info">
                        <div class="articles__date-box">
                            <span class="articles__date">31.01.2019</span>
                        </div>
                        <div class="articles__name">
                            Мультиформатный видеорегистратор нового поколения RVi-1HDR16L от RVi Group
                        </div>
                        <div class="articles__text">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                                некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет
                                непонятным смыслом и придаст неповторимый колорит советских времен.
                        </div>
                        <a href="#" class="articles__more">
                            Показать подробнее
                        </a>
                    </div>
                </div>
                <div class="articles__item articles__item--mobile">
                    <div class="articles__photo">
                        <img src="/assets/template/images/tmp/news3.png" alt="">
                    </div>
                    <div class="articles__info">
                        <div class="articles__date-box">
                            <span class="articles__date">31.01.2019</span>
                        </div>
                        <div class="articles__name">
                            Представляем 4-канальный IP-видеорегистратор RVi со встроенным PoE-коммутатором
                        </div>
                        <div class="articles__text">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                                некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет
                                непонятным смыслом и придаст неповторимый колорит советских времен.
                        </div>
                        <a href="#" class="articles__more">
                            Показать подробнее
                        </a>
                    </div>
                </div>
            </div>

            <div class="articles__showmore">
                <div class="articles__showmore-row">
                    <a href="#" class="articles__showmore-link">Показать больше новостей</a>
                </div>
            </div>

        </div>
    </div>
</div>


//= include/footer.html
</body>
</html>