//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Статьи</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <h1>Полезные статьи</h1>
        <div class="article">
            <div class="article__content">
                <div class="article__image">
                    <img src="" alt="">
                </div>
                <div class="article__date-box">
                    <span class="article__date">01.02.2019</span>
                </div>
                <div class="article__text">
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="article__images">
                        <a href="#"><img src="" alt=""></a>
                    </div>
                    <p></p>
                    <ul class="styled">
                        <li></li>
                    </ul>
                    <p></p>
                </div>

            </div>
            <div class="article__sidebar">
                <div class="sidebar-article">
                    <div class="sidebar-article__header">похожие статьи</div>
                    <div class="sidebar-article__list">
                        <div class="sidebar-article__item">
                            <a href="#" class="news-card">
                                <div class="news-card__image">
                                    <img src="/assets/template/images/tmp/news1.png" alt="">
                                </div>
                                <div class="news-card__date-box">
                                    <span class="news-card__date">01.02.2019</span>
                                </div>
                                <div class="news-card__name">
                                    Новые 4-мегапиксельные видеокамеры формата AHD с управляемым объективом от MICRODIGITAL Inc.
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-article__item">
                            <a href="#" class="news-card">
                                <div class="news-card__image">
                                    <img src="/assets/template/images/tmp/news1.png" alt="">
                                </div>
                                <div class="news-card__date-box">
                                    <span class="news-card__date">01.02.2019</span>
                                </div>
                                <div class="news-card__name">
                                    Новые 4-мегапиксельные видеокамеры формата AHD с управляемым объективом от MICRODIGITAL Inc.
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-article__item">
                            <a href="#" class="news-card">
                                <div class="news-card__image">
                                    <img src="/assets/template/images/tmp/news1.png" alt="">
                                </div>
                                <div class="news-card__date-box">
                                    <span class="news-card__date">01.02.2019</span>
                                </div>
                                <div class="news-card__name">
                                    Новые 4-мегапиксельные видеокамеры формата AHD с управляемым объективом от MICRODIGITAL Inc.
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


//= include/footer.html
</body>
</html>
