//= include/header.html

<link rel="stylesheet" href="/assets/components/msearch2/css/web/default.css" type="text/css" />
<link rel="stylesheet" href="/assets/components/minishop2/css/web/default.css?v=14f1a1db65" type="text/css" />
<script type="text/javascript">miniShop2Config = {"cssUrl":"\/assets\/components\/minishop2\/css\/web\/","jsUrl":"\/assets\/components\/minishop2\/js\/web\/","actionUrl":"\/assets\/components\/minishop2\/action.php","ctx":"web","close_all_message":"\u0437\u0430\u043a\u0440\u044b\u0442\u044c \u0432\u0441\u0435","price_format":[2,"."," "],"price_format_no_zeros":true,"weight_format":[3,"."," "],"weight_format_no_zeros":true};</script>
<script type="text/javascript">mse2Config = {"cssUrl":"\/assets\/components\/msearch2\/css\/web\/","jsUrl":"\/assets\/components\/msearch2\/js\/web\/","actionUrl":"\/assets\/components\/msearch2\/action.php","queryVar":"query","idVar":"id","filter_delimeter":"|","method_delimeter":":","values_delimeter":",","start_sort":"ms|price:desc","start_limit":"5","start_page":1,"start_tpl":"","sort":"","limit":"","page":"","pageVar":"page","tpl":"","parentsVar":"parents","key":"48b5924ee1a09c4d84f2c45868e344bdbbc9a019","pageId":2,"query":"","parents":"","aliases":[],"options":[],"mode":"","moreText":"\u0417\u0430\u0433\u0440\u0443\u0437\u0438\u0442\u044c \u0435\u0449\u0435"};</script>


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Каталог</li>
        </ul>
    </div>
</div>

<div class="overlay-light"></div>

<div class="content">
    <div class="container">
        <h1>Поворотные AHD Видеокамеры</h1>
        <div class="catalog" id="mse2_mfilter">
            <div class="catalog__sidebar" >
                <a href="#" class="sidebar-close"></a>
                <div class="catalog-filter" id="catalog-sidebar">
                    <form action="" method="post" id="mse2_filters">

                        <div class="catalog-filter__widget catalog-filter__widget--brand">
                            <div class="catalog-filter__caption">Производитель</div>
                            <div class="catalog-filter__body">

                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-1">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-1">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ACTi (115)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-2">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">AXIS (255)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-3">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-3">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ActiveCam (39)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-1">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-1">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ACTi (115)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-2">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">AXIS (255)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-3">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-3">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ActiveCam (39)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-1">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-1">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ACTi (115)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-2">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">AXIS (255)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-3">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-3">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ActiveCam (39)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-2">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">AXIS (255)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-3">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-3">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ActiveCam (39)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-1">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-1">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ACTi (115)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-2">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">AXIS (255)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-3">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-3">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ActiveCam (39)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-1">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-1">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">ACTi (115)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-2">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">AXIS (255)</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__collapse">
                                    <a href="#">Показать всех производителей</a>
                                </div>
                            </div>
                        </div>

                        <div class="catalog-filter__widget">
                            <div class="catalog-filter__caption">Стоимость</div>
                            <div class="catalog-filter__body">
                                <fieldset>
                                <div class="catalog-filter__item">

                                    <div class="mse2_number_inputs">
                                        <div class="mse2_number_input">
                                            <label for="mse2_ms|price_0">
                                                <input type="text" name="ms|price" id="mse2_ms|price_0"
                                                       value="125"
                                                       data-current-value="0"
                                                       class="form-control input-sm" />
                                            </label>
                                        </div>
                                        <div class="mse2_number_separator"></div>
                                        <div class="mse2_number_input">
                                            <label for="mse2_ms|price_1">
                                                <input type="text" name="ms|price" id="mse2_ms|price_1"
                                                   value="3000"
                                                   data-current-value="0"
                                                   class="form-control input-sm" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mse2_number_slider"></div>
                                    <div class="mse2_number_extrems">
                                        <div class="mse2_number_min">0</div>
                                        <div class="mse2_number_max">150000</div>
                                    </div>

                                </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="catalog-filter__widget">
                            <div class="catalog-filter__caption">Наличие товара</div>
                            <div class="catalog-filter__body">

                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-1">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-11">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">В наличие</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-22">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">Под заказ</span>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="catalog-filter__widget">
                            <div class="catalog-filter__caption">Цвет</div>
                            <div class="catalog-filter__body">

                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-1">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-111">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">Темный</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-222">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">Светлый</span>
                                    </label>
                                </div>
                                <div class="catalog-filter__item">
                                    <label class="check-custom" for="brand-2">
                                        <input class="checkbox" name="iagree" type="checkbox" value="Согласен" id="brand-232">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">Резиновый</span>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="catalog-filter__reset">
                            <button type="reset">Сбросить фильтр</button>
                        </div>

                    </form>
                </div>

                <div class="sidebar-bottom">
                    <style>
                        .sidebar-slider__item--1{
                            background-image: url('/assets/template/images/slide-1-small.png');
                        }
                        .sidebar-slider__item--2{
                            background-image: url('/assets/template/images/slide-1-small.png');
                        }
                    </style>
                    <div class="sidebar-slider">

                        <div class="sidebar-slider__box">
                            <div class="sidebar-slider__items  sidebar-slider-js">

                                <div>
                                    <div class="sidebar-slider__item sidebar-slider__item--1">
                                        <div class="sidebar-slider__info">
                                            <div class="sidebar-slider__flag">
                                                <div class="slider-flag slider-flag--action">Акция</div>
                                            </div>
                                            <div class="sidebar-slider__caption">
                                                Поворотные<br /> AHD Видеокамеры
                                            </div>
                                            <div class="sidebar-slider__text">
                                                При покупке  товара на сумму от  <nobr>32 000 руб.,</nobr>
                                                бесплатная установка и тестирование оборудования
                                                в день покупки.
                                            </div>
                                            <div class="sidebar-slider__link">
                                                <a href="#" class="sidebar-slider__more">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="sidebar-slider__item sidebar-slider__item--2" style="background-image: url('/assets/template/images/slide-1.png');">
                                        <div class="sidebar-slider__info">
                                            <div class="sidebar-slider__flag">
                                                <div class="slider-flag slider-flag--new">Новинка</div>
                                            </div>
                                            <div class="sidebar-slider__caption">
                                                Второй<br /> слайд
                                            </div>
                                            <div class="sidebar-slider__text">
                                                При покупке  товара на сумму от  32 000 руб.,
                                                бесплатная установка и тестирование оборудования
                                                в день покупки.
                                            </div>
                                            <div class="sidebar-slider__link">
                                                <a href="#" class="sidebar-slider__more">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="sidebar-slider__nav"></div>

                        </div>


                    </div>
                </div>

            </div>
            <div class="catalog__content">
                <div class="catalog-meta">
                    <a data-fancybox="" href="#catalog-sidebar" class="catalog-filter-button">
                        Фильтры
                    </a>
                    <div class="catalog-sort">
                        Сортировать по: <span class="catalog-sort__select">Стоимости</span>
                        <select name="" id="select-sort">
                            <option value="">Стоимости</option>
                            <option value="">Названию</option>
                        </select>
                    </div>
                    <div class="catalog-view" id="mse2_tpl">
                        Вид:
                        <div class="catalog-view__items">
                            <a href="#" data-tpl="0" class="catalog-view__grid active"></a>
                            <a href="#" data-tpl="1" class="catalog-view__list "></a>
                        </div>
                    </div>
                </div>
                <div class="catalog__grid jumped">
                    <div class="grid-goods__item">
                        <div class="product-card">
                            <div class="product-card__flags">
                                <div class="product-flag product-flag--popular">Популярное</div>
                                <!--div class="product-flag product-flag--action">Акция</div-->
                            </div>
                            <div class="product-card__image">
                                <a href="#"><img src="/assets/template/images/tmp/good1.png" alt="" /></a>
                            </div>
                            <div class="product-card__name">
                                <a href="#">IP-камера Hikvision DS-2CD2622 FWD-IS</a>
                            </div>
                            <div class="product-card__options">
                                <div class="product-option">
                                    <div class="product-option__name"><span>Количество точек матрицы:</span></div>
                                    <div class="product-option__value">2 Мп</div>
                                </div>
                                <div class="product-option">
                                    <div class="product-option__name">Применение:</div>
                                    <div class="product-option__value">уличная</div>
                                </div>
                                <div class="product-option">
                                    <div class="product-option__name">Сетевой интерфейс:</div>
                                    <div class="product-option__value">проводной</div>
                                </div>
                            </div>
                            <div class="product-card__buy">
                                <div class="product-card__box">
                                    <div class="product-card__cost-old">
                                        <span class="product-card__price-old">620</span>
                                        <span class="product-card__currency-old">₽</span>
                                    </div>
                                    <div class="product-card__cost">
                                        <span class="product-card__price">562</span>
                                        <span class="product-card__currency">₽</span>
                                    </div>
                                </div>
                                <a href="#" class="product-card__to-cart">
                                    в корзину
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-goods__item">
                        //= include/product-card-popular.html
                    </div>
                    <div class="grid-goods__item">
                        //= include/product-card-popular.html
                    </div>
                    <div class="grid-goods__item">
                        //= include/product-card-popular.html
                    </div>
                    <div class="grid-goods__item">
                        //= include/product-card-popular.html
                    </div>
                    <div class="grid-goods__item">
                        //= include/product-card-popular.html
                    </div>
                    <div class="grid-goods__item">
                        //= include/product-card-popular.html
                    </div>
                    <div class="grid-goods__item no-mobile">
                        //= include/product-card-popular.html
                    </div>
                    <div class="grid-goods__item no-mobile">
                        //= include/product-card-newis.html
                    </div>
                    <div class="grid-goods__item no-mobile">
                        //= include/product-card-newis.html
                    </div>
                    <div class="grid-goods__item no-mobile">
                        //= include/product-card-newis.html
                    </div>
                    <div class="grid-goods__item no-mobile">
                        //= include/product-card-newis.html
                    </div>
                </div>
                <div class="catalog__more">
                    <a href="#popular" class="catalog__more-link">Показать еще</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="bottom-partners">
    <div class="container phablet-container">
        <div class="bottom-partners__header">Наши партнеры</div>
        <div class="bottom-partners__grid inner-partners-slider">
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/dkc.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/rvi.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/hyperline.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/bosch.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/iek.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/dlink.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/hikvision.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/svetovye-tehnology.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/legrand.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/speckabel.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/pozhtehkabel.png" alt="">
                </div>
            </div>
            <div class="bottom-partners__item">
                <div class="bottom-partners__card">
                    <img src="/assets/template/images/partners/beward.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


//= include/footer.html
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/components/msearch2/js/web/default.js"></script>
<script type="text/javascript" src="/assets/components/minishop2/js/web/default.js?v=14f1a1db65"></script>

<script type="text/javascript">
    if ($("#mse2_mfilter").length) {
        if (window.location.hash != "" && mSearch2.Hash.oldbrowser()) {
            var uri = window.location.hash.replace("#", "?");
            window.location.href = document.location.pathname + uri;
        }
        else {
            mSearch2.initialize("body");
        }
    }
</script>

</body>
</html>
