//= include/header.html


<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Каталог</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="container">
        <h1>Категории каталога</h1>
        <div class="catalog-category">
            <div class="catalog-category__grid">

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--video">
                            Системы
                            видеонаблюдения
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">IP камеры</a></li>
                                <li><a href="#">IP видеорегистраторы</a></li>
                                <li><a href="#">IP видеосерверы</a></li>
                                <li><a href="#">Аналоговые камеры</a></li>
                                <li><a href="#">Цифровые видеорегистраторы</a></li>
                                <li><a href="#">Видеорегистраторы гибридные</a></li>
                                <li><a href="#">Видеосерверы</a></li>
                                <li><a href="#">Объектив для камер видеонаблюдения</a></li>
                                <li><a href="#">Жесткие диски (HDD)</a></li>
                                <li><a href="#">Мониторы для видеонаблюдения</a></li>
                                <li><a href="#">Кодеры и декодеры</a></li>
                                <li><a href="#">Программное обеспечение</a></li>
                                <li><a href="#">Платы видеозахвата</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--fire-equipment">
                            Охранно-пожарное
                            оборудование
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Адресные системы пожарной сигнализации</a></li>
                                <li><a href="#">Комплексные и интегрированные системы безопасноcти</a></li>
                                <li><a href="#">Радиоканальные системы безопасности</a></li>
                                <li><a href="#">GSM мониторинг</a></li>
                                <li><a href="#">GPS мониторинг</a></li>
                                <li><a href="#">Системы передачи извещений</a></li>
                                <li><a href="#">Приёмно-контрольные приборы</a></li>
                                <li><a href="#">Извещатели охранные</a></li>
                                <li><a href="#">Извещатели пожарные</a></li>
                                <li><a href="#">Извещатели технологические</a></li>
                                <li><a href="#">Оповещатели</a></li>
                                <li><a href="#">Технические средства охраны периметра</a></li>
                                <li><a href="#">Дополнительное оборудование ОПС</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--warning">
                            Системы оповещения
                            и управления эвакуацией
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Системы оповещения и музыкальной трансляции</a></li>
                                <li><a href="#">Системы оповещения о пожаре</a></li>
                                <li><a href="#">Акустические системы</a></li>
                                <li><a href="#">Усилители</a></li>
                                <li><a href="#">Предусилители</a></li>
                                <li><a href="#">Микшерные усилители</a></li>
                                <li><a href="#">Микрофонные консоли и микрофоны</a></li>
                                <li><a href="#">Встраиваемые модули</a></li>
                                <li><a href="#">Аксессуары СОУЭ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--firefighting">
                            Пожаротушение
                            и огнезащита
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Аэрозольное пожаротушение</a></li>
                                <li><a href="#">Водяное пожаротушение</a></li>
                                <li><a href="#">Пенное пожаротушение</a></li>
                                <li><a href="#">Газовое пожаротушение</a></li>
                                <li><a href="#">Порошковое пожаротушение</a></li>
                                <li><a href="#">Системы пожаротушения и огнезащиты</a></li>
                                <li><a href="#">Огнетушители</a></li>
                                <li><a href="#">Огнезащитные краски</a></li>
                                <li><a href="#">Шкафы пожарные</a></li>
                                <li><a href="#">Щиты пожарные</a></li>
                                <li><a href="#">Дополнительное оборудование пожаротушения</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--access">
                            Системы контроля
                            доступа
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Домофония</a></li>
                                <li><a href="#">Доводчики</a></li>
                                <li><a href="#">Замки</a></li>
                                <li><a href="#">Защелки</a></li>
                                <li><a href="#">Идентификаторы</a></li>
                                <li><a href="#">Контроллеры</a></li>
                                <li><a href="#">Считывателии</a></li>
                                <li><a href="#">Кнопки выхода</a></li>
                                <li><a href="#">Калитки</a></li>
                                <li><a href="#">Ограждения</a></li>
                                <li><a href="#">Турникеты</a></li>
                                <li><a href="#">Сетевые СКУД</a></li>
                                <li><a href="#">Шлагбаумы и автоматика</a></li>
                                <li><a href="#">Досмотровое оборудование</a></li>
                                <li><a href="#">Дополнительное оборудование СКУД</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--electrical">
                            Электротехническое
                            оборудование
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Автоматические выключатели</a></li>
                                <li><a href="#">Аккумуляторы и термостаты</a></li>
                                <li><a href="#">Боксы под АКБ</a></li>
                                <li><a href="#">Тестеры АКБ</a></li>
                                <li><a href="#">Источники питания</a></li>
                                <li><a href="#">Счетчики электроэнергии</a></li>
                                <li><a href="#">Преобразователи напряжения</a></li>
                                <li><a href="#">Трансформаторы</a></li>
                                <li><a href="#">Устройства защиты от перенапряжений</a></li>
                                <li><a href="#">Электроустановочные изделия и аксессуары</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--explosionproof">
                            Взрывозащищенное
                            оборудование
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Кожухи для видеокамер (Ex)</a></li>
                                <li><a href="#">Приборы контроля и управления (Ex)</a></li>
                                <li><a href="#">Извещатели охранные (Ex)</a></li>
                                <li><a href="#">Извещатели пожарные (Ex)</a></li>
                                <li><a href="#">Оповещатели (Ex)</a></li>
                                <li><a href="#">Системы для охраны взрывоопасных объектов</a></li>
                                <li><a href="#">Акустические системы (Ex)</a></li>
                                <li><a href="#">Модули пожаротушения (Ex)</a></li>
                                <li><a href="#">Устройства сигнально-пусковые (Ex)</a></li>
                                <li><a href="#">Дополнительное оборудование (Ex)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--cable">
                            Кабельная<br />
                            продукция
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Кабель акустический</a></li>
                                <li><a href="#">Кабель витая пара (LAN)</a></li>
                                <li><a href="#">Кабель коаксиальный</a></li>
                                <li><a href="#">Кабель комбинированный</a></li>
                                <li><a href="#">Кабель оптоволоконный</a></li>
                                <li><a href="#">Кабель охранно-пожарной сигнализации</a></li>
                                <li><a href="#">Кабель силовой</a></li>
                                <li><a href="#">Кабель специальных и промышленных интерфейсов</a></li>
                                <li><a href="#">Кабель телефонный</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--box">
                            Шкафы, щиты, боксы,
                            компаненты СКС
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Боксы для автоматов</a></li>
                                <li><a href="#">Щиты электрические</a></li>
                                <li><a href="#">Стойки телекоммуникационные</a></li>
                                <li><a href="#">Шкафы телекоммуникационные</a></li>
                                <li><a href="#">Монтажные инструменты</a></li>
                                <li><a href="#">Коммутационные изделия</a></li>
                                <li><a href="#">Аксессуары для стоек и шкафов</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--lighting">
                            Светотехническое
                            оборудование
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Прожекторы</a></li>
                                <li><a href="#">Светильники</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--network">
                            Сетевое<br />
                            оборудование
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Беспроводное оборудование</a></li>
                                <li><a href="#">Коммутаторы</a></li>
                                <li><a href="#">Медиаконвертеры</a></li>
                                <li><a href="#">Сетевые хранилища</a></li>
                                <li><a href="#">Антенны для сетевого оборудования</a></li>
                                <li><a href="#">Дополнительное оборудование для сетей</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--mounting">
                            Монтажные<br />
                            материалы
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Кабель-канал</a></li>
                                <li><a href="#">Аксессуары для кабель-канала</a></li>
                                <li><a href="#">Лотки кабельные</a></li>
                                <li><a href="#">Аксессуары для лотков</a></li>
                                <li><a href="#">Металлорукав</a></li>
                                <li><a href="#">Труба гофрированная</a></li>
                                <li><a href="#">Труба гладкая</a></li>
                                <li><a href="#">Повороты</a></li>
                                <li><a href="#">Муфты тройники</a></li>
                                <li><a href="#">Коробки распределительные</a></li>
                                <li><a href="#">Крепежные изделия</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="catalog-category__item">
                    <div class="catalog-category__card">
                        <div class="catalog-category__name catalog-category__name--other">
                            Разное
                        </div>
                        <div class="catalog-category__body">
                            <ul>
                                <li><a href="#">Системы оповещения и  трансляции</a></li>
                                <li><a href="#">Системы оповещения о пожаре</a></li>
                                <li><a href="#">Акустические системы</a></li>
                                <li><a href="#">Усилители</a></li>
                                <li><a href="#">Предусилители</a></li>
                            </ul>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="main-partners">
    <div class="container">
        <div class="main-partners__header">Наши партнеры</div>
        <div class="main-partners__grid">

            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/dkc.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/rvi.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/hyperline.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/bosch.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/iek.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/dlink.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/hikvision.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/svetovye-tehnology.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/legrand.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/speckabel.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/pozhtehkabel.png" alt="">
                </div>
            </div>
            <div class="main-partners__item">
                <div class="main-partners__card">
                    <img src="/assets/template/images/partners/beward.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>

//= include/footer.html
</body>
</html>
