//= include/header.html


	<div class="main-category">
		<div class="container">
			<div class="main-category__grid category-slider">
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--video">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Системы видеонаблюдения
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--fire-equipment">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Охранно-пожарное оборудование
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--warning">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Системы оповещения
							и управления эвакуацией
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--firefighting">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Пожаротушение
							и огнезащита
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--access">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Системы контроля
							доступа
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--electrical">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Электротехническое
							оборудование
						</div>
					</a>
				</div>

				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--explosionproof">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Взрывозащищенное
							оборудование
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--cable">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Кабельная
							продукция
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--box">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Шкафы, щиты, боксы,
							компоненты СКС
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--lighting">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Светотехническое
							оборудование
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--network">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Сетевое
							оборудование
						</div>
					</a>
				</div>
				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--mounting">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Монтажные
							материалы
						</div>
					</a>
				</div>

				<div class="main-category__item">
					<a href="#" class="main-category__card main-category__card--other">
						<div class="main-category__image"></div>
						<div class="main-category__name">
							Разное
						</div>
					</a>
				</div>



			</div>
		</div>
	</div>
	
	<div class="main-slider">
		<div class="container">
			<div class="main-slider__box">
				<div class="main-slider__items  main-slider-js">
					<div class="main-slider__item" style="background-image: url('/assets/template/images/slide-1.png');">
						<div class="main-slider__info">
							<div class="main-slider__flag">
								<div class="slider-flag slider-flag--action">Акция</div>
							</div>
							<div class="main-slider__caption">
								Поворотные<br /> AHD Видеокамеры
							</div>
							<div class="main-slider__text">
								При покупке  товара на сумму от  32 000 руб.,
								бесплатная установка и тестирование оборудования
								в день покупки.
							</div>
							<div class="main-slider__link">
								<a href="#" class="main-slider__more">Подробнее</a>
							</div>
						</div>
					</div>

					<div class="main-slider__item" style="background-image: url('/assets/template/images/slide-1.png');">
						<div class="main-slider__info">
							<div class="main-slider__flag">
								<div class="slider-flag slider-flag--new">Новинка</div>
							</div>
							<div class="main-slider__caption">
								Второй<br /> слайд
							</div>
							<div class="main-slider__text">
								При покупке  товара на сумму от  32 000 руб.,
								бесплатная установка и тестирование оборудования
								в день покупки.
							</div>
							<div class="main-slider__link">
								<a href="#" class="main-slider__more">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
				<div class="main-slider__nav"></div>

			</div>
		</div>
	</div>

	<div class="special-goods">
		<div class="container">
			<div class="special-goods__wrap">
				<div class="special-goods__header">Не пропустите <span class="special-goods__lead">специальные</span> предложения</div>
				<div class="special-goods__frame">
					<div class="special-goods__grid">
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="special-goods__item">
							//= include/product-card-popular.html
						</div>
					</div>
					<a href="#" class="prev special-goods__arrow"></a>
					<a href="#" class="next special-goods__arrow"></a>
				</div>

				<div class="special-goods__scrollbar">
					<div class="special-goods__handle">
						<div class="special-goods__mousearea"></div>
					</div>
				</div>
			</div>
			<div class="special-goods__more">
				<div class="container">
					<div class="special-goods__more-row">
						<a href="#" class="special-goods__more-link">Все специальные предложения</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="popular-goods xtab-container">
		<div class="popular-tab__nav">
			<div class="container">
				<div class="popular-tab__list">
					<a href="#" class="popular-tab__link active" data-tab=".xtab-popular">Самые популярные товары</a>
					<a href="#" class="popular-tab__link" data-tab=".xtab-newis">Новинки нашего магазина</a>
				</div>
			</div>
		</div>
		<div class="xtab active xtab-popular">
			<div class="popular-goods__box">
				<div class="container">
					<div class="popular-goods__grid jumped">
						<div class="popular-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-popular.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-popular.html
						</div>
					</div>
				</div>
			</div>
			<div class="popular-goods__more">
				<div class="container">
					<div class="popular-goods__more-row">
						<a href="#popular" class="popular-goods__more-link">Перейти в каталог</a>
					</div>
				</div>
			</div>
		</div>
		<div class="xtab xtab-newis">
			<div class="popular-goods__box">
				<div class="container">
					<div class="popular-goods__grid jumped">
						<div class="popular-goods__item">
							//= include/product-card-newis.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-newis.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-newis.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-newis.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-newis.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-newis.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-newis.html
						</div>
						<div class="popular-goods__item">
							//= include/product-card-newis.html
						</div>
					</div>
				</div>
			</div>
			<div class="popular-goods__more">
				<div class="container">
					<div class="popular-goods__more-row">
						<a href="#newis" class="popular-goods__more-link">Перейти в каталог</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="main-partners">
		<div class="container">
			<div class="main-partners__header">Наши партнеры</div>
			<div class="main-partners__grid">

				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/dkc.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/rvi.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/hyperline.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/bosch.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/iek.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/dlink.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/hikvision.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/svetovye-tehnology.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/legrand.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/speckabel.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/pozhtehkabel.png" alt="">
					</div>
				</div>
				<div class="main-partners__item">
					<div class="main-partners__card">
						<img src="/assets/template/images/partners/beward.png" alt="">
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="main-news xtab-container">
		<div class="container">
			<div class="news-tab__nav">
				<div class="news-tab__list">
					<a href="#" class="news-tab__link active" data-tab=".xtab-news-security">Новости рынка систем безопасности</a>
					<a href="#" class="news-tab__link" data-tab=".xtab-news-shop">Новости нашего магазина</a>
				</div>
			</div>
			<div class="main-news__tabs">
				<div class="xtab active xtab-news-security">
					<div class="main-news__grid">
						<div class="main-news__item">
							<a href="#" class="news-card">
								<div class="news-card__image">
									<img src="/assets/template/images/tmp/news1.png" alt="">
								</div>
								<div class="news-card__date-box">
									<span class="news-card__date">01.02.2019</span>
								</div>
								<div class="news-card__name">
									Новые 4-мегапиксельные видеокамеры формата AHD с управляемым объективом от MICRODIGITAL Inc.
								</div>
							</a>
						</div>
						<div class="main-news__item">
							<a href="#" class="news-card">
								<div class="news-card__image">
									<img src="/assets/template/images/tmp/news2.png" alt="">
								</div>
								<div class="news-card__date-box">
									<span class="news-card__date">31.01.2019</span>
								</div>
								<div class="news-card__name">
									Мультиформатный видеорегистратор нового поколения RVi-1HDR16L от RVi Group
								</div>
							</a>
						</div>
						<div class="main-news__item">
							<a href="#" class="news-card">
								<div class="news-card__image">
									<img src="/assets/template/images/tmp/news3.png" alt="">
								</div>
								<div class="news-card__date-box">
									<span class="news-card__date">29.01.2019</span>
								</div>
								<div class="news-card__name">
									Представляем 4-канальный IP-видеорегистратор RVi со встроенным PoE-коммутатором
								</div>
							</a>
						</div>
						<div class="main-news__item">
							<a href="#" class="news-card">
								<div class="news-card__image">
									<img src="/assets/template/images/tmp/news4.png" alt="">
								</div>
								<div class="news-card__date-box">
									<span class="news-card__date">28.01.2019</span>
								</div>
								<div class="news-card__name">
									Smartec представил уличный ИК-датчик с дальностью обнаружения до 300 м.
								</div>
							</a>
						</div>
					</div>
					<div class="main-news__more">
						<div class="main-news__more-row">
							<a href="#" class="main-news__more-link">Показать больше новостей</a>
						</div>
					</div>
				</div>
				<div class="xtab xtab-news-shop">
					<div class="main-news__grid">
						<div class="main-news__item">
							<a href="#" class="news-card">
								<div class="news-card__image">
									<img src="/assets/template/images/tmp/news3.png" alt="">
								</div>
								<div class="news-card__date-box">
									<span class="news-card__date">29.01.2019</span>
								</div>
								<div class="news-card__name">
									Представляем 4-канальный IP-видеорегистратор RVi со встроенным PoE-коммутатором
								</div>
							</a>
						</div>
						<div class="main-news__item">
							<a href="#" class="news-card">
								<div class="news-card__image">
									<img src="/assets/template/images/tmp/news4.png" alt="">
								</div>
								<div class="news-card__date-box">
									<span class="news-card__date">28.01.2019</span>
								</div>
								<div class="news-card__name">
									Smartec представил уличный ИК-датчик с дальностью обнаружения до 300 м.
								</div>
							</a>
						</div>
						<div class="main-news__item">
							<a href="#" class="news-card">
								<div class="news-card__image">
									<img src="/assets/template/images/tmp/news1.png" alt="">
								</div>
								<div class="news-card__date-box">
									<span class="news-card__date">01.02.2019</span>
								</div>
								<div class="news-card__name">
									Новые 4-мегапиксельные видеокамеры формата AHD с управляемым объективом от MICRODIGITAL Inc.
								</div>
							</a>
						</div>
						<div class="main-news__item">
							<a href="#" class="news-card">
								<div class="news-card__image">
									<img src="/assets/template/images/tmp/news2.png" alt="">
								</div>
								<div class="news-card__date-box">
									<span class="news-card__date">30.01.2019</span>
								</div>
								<div class="news-card__name">
									Мультиформатный видеорегистратор нового поколения RVi-1HDR16L от RVi Group
								</div>
							</a>
						</div>
					</div>
					<div class="main-news__more">
						<div class="main-news__more-row">
							<a href="#" class="main-news__more-link">Показать больше новостей</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-viewed">
		<div class="container">
			<div class="main-viewed__header">
				Вы смотрели следующее:
			</div>
			<div class="main-viewed__grid jumped">
				<div class="main-viewed__item">
					<a href="#" class="viewed-card">
						<div class="viewed-card__image">
							<img src="/assets/template/images/tmp/viewed1.png" alt="">
						</div>
						<div class="viewed-card__name">
							IP-камера Hikvision DS-2CD2622 FWD-IS
						</div>
					</a>
				</div>
				<div class="main-viewed__item">
					<a href="#" class="viewed-card">
						<div class="viewed-card__image">
							<img src="/assets/template/images/tmp/viewed2.png" alt="">
						</div>
						<div class="viewed-card__name">
							IP-камера Hikvision DS-2CD2622 FWD-IS
						</div>
					</a>
				</div>
				<div class="main-viewed__item">
					<a href="#" class="viewed-card">
						<div class="viewed-card__image">
							<img src="/assets/template/images/tmp/viewed3.png" alt="">
						</div>
						<div class="viewed-card__name">
							IP-камера Hikvision DS-2CD2622 FWD-IS
						</div>
					</a>
				</div>
				<div class="main-viewed__item">
					<a href="#" class="viewed-card">
						<div class="viewed-card__image">
							<img src="/assets/template/images/tmp/viewed1.png" alt="">
						</div>
						<div class="viewed-card__name">
							IP-камера Hikvision DS-2CD2622 FWD-IS
						</div>
					</a>
				</div>
				<div class="main-viewed__item">
					<a href="#" class="viewed-card">
						<div class="viewed-card__image">
							<img src="/assets/template/images/tmp/viewed2.png" alt="">
						</div>
						<div class="viewed-card__name">
							IP-камера Hikvision DS-2CD2622 FWD-IS
						</div>
					</a>
				</div>
				<div class="main-viewed__item">
					<a href="#" class="viewed-card">
						<div class="viewed-card__image">
							<img src="/assets/template/images/tmp/viewed3.png" alt="">
						</div>
						<div class="viewed-card__name">
							IP-камера Hikvision DS-2CD2622 FWD-IS
						</div>
					</a>
				</div>
			</div>
			<div class="main-viewed__more">
				<div class="main-viewed__more-row">
					<a href="#" class="main-viewed__more-link">Все просмотренные товары</a>
				</div>
			</div>
		</div>
	</div>

//= include/footer.html
</body>
</html>
